@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}
body{
  font-family: 'Varela Round', sans-serif;
  background: #EEE;
}
h2,h3,h4{
  color:#576366
}
p{
  color:#576366;
}
.grid-example{
    border: 1px solid #eee;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    background-color: #6094b5;
    color: white;
    padding: 0;
}

.header-wrapper a{
  font-size: 24px;
  color:#7b8b8e;
}
xmp{
  background: #f7f7f9;
}
.container{
  position: relative;
  top: 100px;
  margin-bottom: 30px;
  background: #ffffff;
  padding: 0;
}
/*button.html starts from here*/
.fab-ele:nth-child(1) {
  background: #1DA1F2;
}
.fab-ele:nth-child(2) {
  background: #46629E;
}
.fab-ele:nth-child(3) {
  background: #DB4437;
}
.fab-ele i{
  color: #fff;
}
/*cards.html starts from here*/
.card-content span, .card-content p{
  color: #fff;
}
.card-square{
  height: 320px;
  width: 320px;
}
.card-ex{
  height: 120px;
  width: 120px;
  background: #6094b5;
  margin: 20px;
}
.card-ex p{
  color: #fff;
  font-size: 20px;
}
/*chips.html starts from here*/
.chip .chip-2 {
  background: #4ac291;
}
/*index.html css starts from here*/
.fade {
    position: absolute;
    top: 0;
    left: 300px;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
.slideup {
    position: absolute;
    top: 0;
    left: 300px;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}
.side-nav{
  z-index: 5;
  height:100vh;
  border-right: 1px solid #f4f6f9;
  width: 300px;
  position: fixed;
  float: left;
  top: 0;
  overflow:scroll;
  left: 0;
  background: #fff;
}
.right-view{
  width: calc(100% - 300px);
  float: right;
  min-height: 100vh;
}
.side-nav {
   /*box-shadow:none;*/
}

.side-nav::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.side-nav-header{
  height: 200px;
  width: 100%;
  background: #3f4b5b;
}
.side-nav-header img{
  display:block;
    margin:auto;
}
.side-nav-list{
  /*overflow-y: auto;*/
  /*height: 100%;*/
}
.side-nav-list ul{
  list-style: none;
  padding: 0px;
  margin-bottom: 40px;
}

 .side-nav-list span{
  padding-left:16px;
}
.side-nav-list ul li a{
  padding: 14px;
  margin-bottom: 6px;
  color: #484848;
  display: block;
  line-height: 1em;
}
.side-nav-list ul li:hover, .side-nav-list ul li a:hover{
  background:#EEE;
  cursor: pointer;
}
.side-nav-list span{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.linkactive{
  background:#EEE;
  color: #4cbbe4 !important;
}



/*intoduction page css*/
.introduction h2, .introduction h3, .introduction h4{
  color: #34383a;
}
.introduction h3{
  margin-top: 50px;
  }code.js-highlight {
    display: inline-block;
    font-size: 0.875rem;
    color: #d14;
}
.introduction .intro-wrapper{
  margin-top: 2rem !important;
}
.card-wrapper{
    background-color: #fff;
    border-radius: 3px;
}
.container{
  top: 0;
}
.custom-container{
  margin: 40px 0;
  width: calc(100% - 2px);
}
@media (min-width: 1200px){
  .custom-container {
    width: calc(100% - 80px);
    margin: 40px 40px;
  }
}
@media (min-width: 1400px){
  .custom-container {
    width: calc(100% - 140px);
    margin: 40px 70px;
  }
}


.header-wrapper{
  height: 60px;
  width: 100%;
  background-color: #f9fafa;
}

.text-align-wrapper{
  height: 60px;
  background: #ddd;
  margin:10px auto;
}
.text-align-wrapper h5{
  margin: 0;
}
.trunc-card{
  height: 60px;
  width: 300px;
  margin:10px auto;
}
.hoverable:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.tooltip-example{
  margin: 100px;
}

.section {
  height: 150vh;
  width: 100%;
background: url('http://ianlunn.co.uk/plugins/jquery-parallax/images/secondBG.jpg')  center center ; }
  .section .inner {
  width: 100%;
  height: 700px;}
  code.hljs {
      background-color: #f4f4f4;
      padding: 1rem;
      font-size: 0.875rem;
      line-height: 1.75;
  }

/*color.html*/
.color-circle{
  height: 60px;
  width: 60px;
  margin: 8px 16px 8px 0px;
  border-radius:50%;
}

/*release.html*/
.release-update h3{
  margin: 1rem auto 0;
}
.release-update p{
  margin-top: 4px;
}
