a {
    text-decoration: none;
    outline:none !important;
}
/*colors*/
/*product color*/
.color-blue{
  color: #2c9fdd !important;
}
.color-green{
  color: #4ac291 !important;
}
.color-purple{
  color: #9C27B0 !important;
}
.color-yellow{
  color: #FEB909 !important;
}
/*ui color*/
.color-font{
  color: #4C596B !important;
}
.color-label{
  color: #8c8c8c !important;
}
.color-line-rule{
  color: #E2E6E6 !important;
}
/*background color*/
.bg-color-blue{
  background: rgba(44,159,221,0.1) !important;
}
.bg-color-green{
  background: rgba(74,194,145,0.1) !important;
}
.bg-color-purple{
  background: rgba(156,39,176,0.1) !important;
}
.bg-color-yellow{
  background: rgba(254, 185, 9, 0.1) !important;
}
/*alert-color*/
.color-sucess{
  color: #7CB342 !important;
}
.color-error{
  color: #E53935 !important;
}
.color-warning{
  color: #FFB330 !important;
}
.color-info{
  color: #1E88E5 !important;
}

.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.valign-wrapper .valign {
    display: block;
}
.left-align {
    text-align: left;
}
.right-align{
  text-align: right;
}
.center {
    text-align: center;
    vertical-align: middle;
}
.center, .center-align {
    text-align: center;
}
.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*material design lists starts from here*/
.md-list li{
  flex-wrap: nowrap;
  padding: 8px;
  cursor: default;
  color: rgba(0,0,0,.87);
  font-weight: 400;
  letter-spacing: .04em;
  line-height: 1;
  min-height: 48px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.md-list li i, .md-list li img{
  font-size: 32px;
  box-sizing: border-box;
  color: #757575;
  margin-right: 32px;
}
.md-list li .heading{
    display: block;
}
.md-list li .sub-header{
  font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    color: rgba(0,0,0,.54);
    display: block;
    padding: 0;
}
/*cards starts from here*/
.card{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 3px;
}
.card .card-content{
  padding: 20px;
  border-radius: 0 0 2px 2px;
}
.card .card-title {
  font-size: 24px;
  font-weight: 300;
}
.card .card-content .card-title {
    line-height: 48px;
}
.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
}
.card .card-thumb {
    position: relative;
}
.card .card-thumb img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}
.card .card-thumb .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}
.card .card-thumb .card-menu{
  position: absolute;
  top: 0;
  right: 0;
}
.card .card-thumb .card-menu i, .card .card-thumb .card-menu img{
  font-size: 24px;
  height: 30px;
  width: 30px;
  color: #fff;
}

/*box shadows*/
.shadow-z1{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-z2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-z3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-z4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-z5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.hoverable{
  transition: box-shadow .25s;
}
.hoverable:hover{
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.md-divider {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0;
    border-top-color: rgba(0,0,0,0.12);
}
.horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/*chip starts from here*/
.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}
.chip img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.chip span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  color: #fff;
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  font-size: 18px;
  background: rgba(0, 159, 217, 0.7);
}
table {
    width: 100%;
    display: table;
}
table, th, td {
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
thead {
    border-bottom: 1px solid #d0d0d0;
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
table.bordered>thead>tr, table.bordered>tbody>tr {
    border-bottom: 1px solid #d0d0d0;
}
table.striped-odd>tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;
}
table.striped-even>tbody>tr:nth-child(even) {
    background-color: #f2f2f2;
}
table.centered thead tr th, table.centered tbody tr td {
    text-align: center;
}
.z-depth-1, .card-panel, .toast, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.waves-effect {
   position: relative;
   cursor: pointer;
   display: inline-block;
   overflow: hidden;
   -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: transparent;
   vertical-align: middle;
   z-index: 1;
   will-change: opacity, transform;
   transition: .3s ease-out;
}

/*breadcrubms*/
.breadcrumb {
  font-size: 18px;
  color: rgba(255,255,255,0.7);
}
.breadcrumb:last-child {
    color: #fff;
}
.breadcrumb:before {
    content: '\E5CC';
    color: rgba(255,255,255,0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}




/*progress bar*/

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear;
}
.progress .indeterminate {
  background-color: #26a69a;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
/*nav bar nav https://github.com/codrops/LinenavStyles
 Common styles for all navs */
.nav {
	line-height: 1;
	margin: 0 auto 3em;
}

.nav-list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-item {
	display: block;
	margin: 1em 0;
}

.nav-item-link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-item-link:hover,
.nav-item-link:focus {
	outline: none;
}
/* Francisco */
.nav-francisco .nav-item {
	margin: 0 1.5em;
}

.nav-francisco .nav-item-link {
	position: relative;
	overflow: hidden;
	height: 1.2em;
	padding: 1em 0;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.nav-francisco .nav-item-link:hover,
.nav-francisco .nav-item-link:focus {
	color: #929292;
}

.nav-francisco .nav-item--current .nav-item-link {
	color: #d94f5c;
}

.nav-francisco .nav-item-helper {
	display: block;
	pointer-events: none;
}

.nav-francisco .nav-item--current .nav-item-helper {
	-webkit-animation: anim-francisco 0.3s forwards;
	animation: anim-francisco 0.3s forwards;
}

@-webkit-keyframes anim-francisco {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-francisco {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
/* Sebastian */
.nav-sebastian .nav-item-link {
	position: relative;
	display: block;
	margin: 0 1em;
	text-align: center;
	color: #929292;
  opacity: 8;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.nav-sebastian .nav-item-link:hover,
.nav-sebastian .nav-item-link:focus {
  opacity: 1;
}

.nav-sebastian .nav-item--current .nav-item-link {
	color: #d94f5c;
}

.nav-sebastian .nav-item-link::before,
.nav-sebastian .nav-item-link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #d94f5c;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.nav-sebastian .nav-item-link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.nav-sebastian .nav-item-link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.nav-sebastian .nav-item--current .nav-item-link::before,
.nav-sebastian .nav-item--current .nav-item-link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

/* Prospero */
.nav-prospero .nav-item-link {
	position: relative;
	display: block;
	margin: 0 1.5em;
	padding: 0.75em 0;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.nav-prospero .nav-item-link:hover,
.nav-prospero .nav-item-link:focus {
	color: #929292;
}

.nav-prospero .nav-item--current .nav-item-link {
	color: #d94f5c;
}

.nav-prospero .nav-item-link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #d94f5c;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
}

.nav-prospero .nav-item--current .nav-item-link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

/*Nariko inpput field*/

/*https://github.com/codrops/TextInputEffects*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input-field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input-field:focus {
	outline: none;
}

.input-label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input-label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}
/* Hoshi */
.input--hoshi {
	overflow: hidden;
}

.input-field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

.input-label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input-label-content--hoshi {
	position: absolute;
}

.input-label--hoshi::before,
.input-label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input-label--hoshi::after {
	border-bottom: 4px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input-label--hoshi-color-1::after {
	border-color: hsl(200, 100%, 50%);
}
.input-field--hoshi:focus + .input-label--hoshi::after,
.input--filled .input-label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input-field--hoshi:focus + .input-label--hoshi .input-label-content--hoshi,
.input--filled .input-label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

/*material desgin input*/
.md-input::-webkit-input-placeholder{
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.md-input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
.md-input:focus, .md-input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.md-input:focus::-webkit-input-placeholder, .md-input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}



/*button click effects*/
.icon-btn {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-btn.icon-btn--click,
.icon-btn:focus {
	outline: none;
	color: #3c8ddc;
}
.icon-btn::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}


/* Ilinka */
.icon-btn-effect::after {
	background: rgba(111,148,182,0.25);
}

.icon-btn-effect.icon-btn--click::after {
	-webkit-animation: anim-effect-ilinka 0.5s ease-out forwards;
	animation: anim-effect-ilinka 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-ilinka {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes anim-effect-ilinka {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/* General button style (reset) */
.btn {
  border: none;
  color: #fff;
  font-family: inherit;
  background: none;
  cursor: pointer;
  padding: 6px 8px;
  display: inline-block;
  margin: auto 16px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-lg{
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 700;
  margin:auto  16px;
}
.btn-md{
  padding: 10px 16px;
  font-size: 16px;
  margin:auto  8px;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn.btn-shadow{
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-round-corner{
  border-radius: 4px;
}
.btn.btn-md.btn-round-corner{
  border-radius: 6px;
}
/*blue button*/
.btn-primary.btn-blue{
  background: rgba(0, 159, 217, 0.7);
}
.btn-primary.btn-blue:hover{
  background: rgba(0, 159, 217, 1);
}
.btn-secondary.btn-blue{
  color: rgba(0, 159, 217, 0.7);
  border: 2px solid rgba(0, 159, 217, 0.7);
}
.btn-secondary.btn-blue:hover{
  color: rgba(0, 159, 217, 1);
  border: 2px solid rgba(0, 159, 217,1);
}
/*green button*/
.btn-primary.btn-green{
  background: rgba(74,194,145, 0.7);
}
.btn-primary.btn-green:hover{
  background: rgba(74,194,145, 1);
}
.btn-secondary.btn-green{
  color: rgba(74,194,145, 0.7);
  border: 2px solid rgba(74,194,145, 0.7);
}
.btn-secondary.btn-green:hover{
  color: rgba(74,194,145, 1);
  border: 2px solid rgba(74,194,145,1);
}
/*button purple*/
.btn-primary.btn-purple{
  background:  rgba(156,39,176,0.7);
}
.btn-primary.btn-purple:hover{
  background:  rgba(156,39,176,1);
}
.btn-secondary.btn-purple{
  color:  rgba(156,39,176,0.7);
  border: 2px solid  rgba(156,39,176,0.7);
}
.btn-secondary.btn-purple:hover{
  color:  rgba(156,39,176,0.7);
  border: 2px solid  rgba(156,39,176,1);
}
/*button yellow*/
.btn-primary.btn-yellow{
  background:  rgba(254, 185, 9,0.7);
}
.btn-primary.btn-yellow:hover{
  background:  rgba(254, 185, 9,1);
}
.btn-secondary.btn-yellow{
  color:  rgba(254, 185, 9,0.7);
  border: 2px solid  rgba(254, 185, 9,0.7);
}
.btn-secondary.btn-yellow:hover{
  color:  rgba(254, 185, 9,1);
  border: 2px solid  rgba(254, 185, 9,1);
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:active {
	background: #EEEEEE;
	top: 2px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0);
}
/* Filled star */
.icon-arrow-right:before {
  font-family: 'Material Icons';
	content: "\E5C8";
}

.icon-arrow-left:before {
  font-family: 'Material Icons';
	content: "\E5C4";
}
/* Button 1 */
.btn-rect {
	border: 3px solid #fff;
	color: #fff;
}
/* Button 1a */
.btn-rect-a:hover,
.btn-rect-a:active {
	background: #fff;
}
/* Button 4 */
.btn-circ {
	border-radius: 50px;
	overflow: hidden;
}
.btn-circ:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 4a */
.btn-circ-a:before {
	left: 130%;
  top: -5px;
}
.btn-circ-a:hover:before {
	left: 80%;
}
/* Button 4b */
.btn-circ-b:before {
	left: -50%;
  top: -5px;
}

.btn-circ-b:hover:before {
	left: 10%;
}

/*dropdown starts from here*/
/*material dropdown*/

/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 1em;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}
.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}
div.cs-skin-border {
	background: transparent;
  font-size: 20px;
	font-weight: 700;
}

@media screen and (max-width: 30em) {
	div.cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
	border: 5px solid #000;
	border-color: inherit;
	-webkit-transition: background 0.2s, border-color 0.2s;
	transition: background 0.2s, border-color 0.2s;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
  font-family: 'Material Icons';
 content: '\E313';
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}

.cs-skin-border ul span::after {
	content: '';
	opacity: 0;
}

.cs-skin-border .cs-selected span::after {
	content: '\e876';
	color: #8c8a81;
	font-size: 1.5em;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
	background: #fff;
	border-color: #fff;
	color: #2980b9;
}

.cs-skin-border .cs-options {
	color: #2980b9;
	font-size: 0.75em;
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}

.cs-skin-border ul span {
	padding: 1em 2em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
	background: #f5f3ec;
}
/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: $modal-delay;
          transition-delay: $modal-delay;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal-bg {
  background: transparent;
}
.modal-dialog {
  max-width: 600px;
  padding: 1.2rem;
}
.modal-content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal-content--active {
  opacity: 1;
}
.modal-close {
  z-index: 1100;
  cursor: pointer;
}
.modal-trigger {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal-trigger--active {
  z-index: 10;
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #EEE;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/**
 * Demo specific CSS
 */
body {
  height: 100vh;
  background: #f44336;
}
img {
  max-width: 100%;
}
.demo-btns header {
  padding: 7vh 10vw;
  background: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-btns header h1 {
  margin: 0;
  color: rgba(0,0,0,0.54);
  font-weight: 300;
}
.demo-btns .info {
  background: #f44336;
  padding: 3vh 10vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}
.demo-btns p {
  text-align: center;
  color: #fff;
}
.demo-btns .link {
  font-size: 20px;
}
.demo-btns .modal-trigger {
  margin-right: 3px;
}
@media (max-width: 640px) {
  .demo-btns .modal-trigger {
    margin-bottom: 0.8rem;
  }
}
.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}
.demo-close:hover {
  background: rgba(0,0,0,0.6);
}
.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}
.logo img {
  width: 45px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}


/*fab-ele button*/
.fab-btn, .fab-btn:before, .fab-btn:after, .fab-ele {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.fab-btn {
  position: relative;
}
.fab-btn:before, .fab-btn:after {
  content: '';
  will-change: transform;
}
.fab-btn:before {
  background: url(http://goo.gl/dVG3Fd) center/28px no-repeat;
  z-index: 5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fab-btn:after {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: -1;
  -webkit-transition: 0.39s;
  transition: 0.39s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fab-btn.active-up:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.fab-ele {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: #fff;
  text-align: center;
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: 0.3s down forwards;
          animation: 0.3s down forwards;
  opacity: 0;
  will-change: animation;
}
.fab-ele i, .fab-ele img{
  margin: 15px;
}
.fab-ele i{
  margin: 13px;
  font-size: 28px;
}
.fab-ele:nth-child(1) {
}
.fab-ele:nth-child(2) {
  top: -66px;
}
.fab-ele:nth-child(3) {
  top: -132px;
}
.fab-ele:nth-child(4) {
  top: -198px;
}
.fab-ele:nth-child(5) {
  top: -264px;
}
.fab-ele:nth-child(6) {
  top: -330px;
}
.fab-ele.active-up {
  -webkit-animation: 0.48s up forwards;
          animation: 0.48s up forwards;
}

.fab-ele.active-up:nth-child(1) {
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s;
}
.fab-ele.active-up:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.fab-ele.active-up:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.fab-ele.active-up:nth-child(4) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.fab-ele.no {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes up {
  50% {
    -webkit-transform: translateY(-170%);
            transform: translateY(-170%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
}

@keyframes up {
  50% {
    -webkit-transform: translateY(-170%);
            transform: translateY(-170%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
}
@-webkit-keyframes down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
  }
}
@keyframes down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
  }
}




/*tabs starts frome here*/

/**
 * Tabs navigation
 */
.tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-nav-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 4px;
  padding: 12px;
  color: #fff;
  background-color: #b3b3b3;
  text-align: center;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}

.tabs-nav-link:last-child {
  margin-right: 0;
}

.tabs-nav-link:hover {
  color: #6d6d6d;
}

.tabs-nav-link.is-active {
  color: #dc446e;
  background-color: #e7e7e7;
}

.tabs-nav-link i,
.tabs-nav-link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.tabs-nav-link i {
  font-size: 18px;
}

.tabs-nav-link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .tabs-nav-link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .tabs-nav-link span {
    display: block;
  }
}

/**
 * Tab
 */
.tab {
  display: none;
  background-color: #e7e7e7;
}

.tab.is-active {
  display: block;
}

.tab-content {
  padding: 1.5rem;
}

/**
 * Tabs no-js fallback
 */
.tabs.no-js .tabs-nav {
  display: none;
}

.tabs.no-js .tab {
  display: block;
  margin-bottom: 1.5rem;
}

.tabs.no-js .tab:last-child {
  margin-bottom: 0;
}








/*collapsible*/
.collapse-card {
background-color: #fff;
border-bottom: 1px solid #eee;
color: #777;
-webkit-transition: 0.4s;
-moz-transition: 0.4s;
-o-transition: 0.4s;
transition: 0.4s;
}
.collapse-card * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.collapse-card.active {
-moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
z-index: 200;
margin: 1rem -1rem;
}
.collapse-card.active .collapse-card-heading:hover::after {
  content: "\E5D1";

}
.collapse-card .collapse-card-heading:hover::after {
content: "\E56B";
}

.collapse-card-heading {
cursor: pointer;
padding: 1rem;
position: relative;
}
.collapse-card-heading:before, .collapse-card-heading:after {
content: " ";
display: table;
}
.collapse-card-heading:after {
clear: both;
}
.collapse-card-heading i {
float: left;
}
.collapse-card-heading::after {
color: #404040;
font-family: 'Material Icons';
font-size: 1.5em;
line-height: 2rem;
padding-left: .4rem;
position: absolute;
right: 1rem;
top: 1rem;
}

.collapse-card-title {
font-size: 1rem;
line-height: 2rem;
margin: 0 2rem 0 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.collapse-card-body {
padding: 1rem;
display: none;
}




/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}



/*parallax starts from here*/
