<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Breadcrumbs</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>Breadcrumbs are a good way to display your current location. This is usually used when you have multiple layers of content.</p>
      <div class="card md-padding" style="background:#6094b5;">
          <a href="#!" class="breadcrumb">First</a>
          <a href="#!" class="breadcrumb">Second</a>
          <a href="#!" class="breadcrumb">Third</a>
      </div>
      <div hljs>
        <!-- example -->
          <div class="card md-padding">
              <a href="#!" class="breadcrumb">First</a>
              <a href="#!" class="breadcrumb">Second</a>
              <a href="#!" class="breadcrumb">Third</a>
          </div>
      </div>
    </div>
  </div>
</div>
