<div class="container custom-container card-wrapper introduction" >
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Buttons</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding example-btn">
      <h3>Primary buttons</h3>
      <p> Our <code>.btn</code> class is used for primary links and page actions. It can be applied to either
         a or button tags. All additional button classes are additive.</p>
      <p>Use any of the available button classes to quickly create a styled button.</p>
      <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code> for large buttons, <code>.btn-md</code> for  medium
        size button and <code>.btn-sm</code> or not include any class for standard small button</p>
      <button class="btn btn-primary btn-blue">primary</button>
      <button class="btn btn-primary btn-md btn-blue">primary</button>
      <button class="btn btn-primary btn-lg btn-blue">primary</button>
      <h3>Secondary buttons</h3>
      <p>The <code>.btn-secondary</code> modifier class is great for secondary links and page actions.</p>
      <button class="btn btn-secondary btn-blue">Seconday</button>
      <button class="btn btn-secondary btn-blue btn-md">Secondary</button>
      <button class="btn btn-secondary btn-blue btn-lg">Secondary</button>
      <div hljs>
        <!-- default small blue btn -->
        <button class="btn btn-primary btn-blue">primary</button>
        <!-- medium button-->
        <button class="btn btn-primary btn-md btn-blue">primary</button>
        <!-- Large button-->
        <button class="btn btn-primary btn-lg btn-blue">primary</button>
      </div>
      <h3>Disabled</h3>
      <p>Make buttons look unclickable by fading them back with <code>opacity</code>.
      Just add  the disabled attribute to <code>button</code> tag.</p>
      <button class="btn btn-primary btn-blue" disabled="disabled">primary</button>
      <div hljs>
        <!-- disabled primary blue button-->
        <button class="btn btn-primary btn-blue" disabled="disabled">primary</button>
      </div>

      <h3>Examples</h3>
      <!-- green button -->
      <button class="btn btn-primary btn-green">primary</button>
      <button class="btn btn-primary btn-md btn-green btn-shadow">primary</button>
      <button class="btn btn-primary btn-lg btn-green">primary</button>
      <button class="btn btn-primary btn-green btn-round-corner">primary</button>
      <button class="btn btn-secondary btn-green btn-round-corner">Seconday</button>
      <button class="btn btn-secondary btn-green btn-md ">Secondary</button>
      <button class="btn btn-secondary btn-green btn-lg">Secondary</button>
      <!-- gpurple button -->
      <button class="btn btn-primary btn-purple">primary</button>
      <button class="btn btn-primary btn-md btn-purple">primary</button>
      <button class="btn btn-primary btn-lg btn-purple">primary</button>
      <button class="btn btn-secondary btn-purple">Seconday</button>
      <button class="btn btn-secondary btn-purple btn-md">Secondary</button>
      <button class="btn btn-secondary btn-purple btn-lg">Secondary</button>
      <!-- yellow button -->
      <button class="btn btn-primary btn-yellow">primary</button>
      <button class="btn btn-primary btn-md btn-yellow">primary</button>
      <button class="btn btn-primary btn-lg btn-yellow">primary</button>
      <button class="btn btn-secondary btn-yellow">Seconday</button>
      <button class="btn btn-secondary btn-yellow btn-md">Secondary</button>
      <button class="btn btn-secondary btn-yellow btn-lg">Secondary</button>


      <h3>Circular</h3>
      <!-- circular button -->
      <p>Add <code>btn-circ</code> class for circular button</p>
      <button class="btn btn-circ btn-primary btn-blue ">Circular</button>
      <button class="btn btn-circ btn-primary btn-purple btn-md">Circular</button>
      <button class="btn btn-circ btn-primary btn-green btn-lg">Circular</button>
      <button class="btn btn-circ btn-secondary btn-blue ">Circular</button>
      <button class="btn btn-circ btn-secondary btn-purple btn-md">Circular</button>
      <button class="btn btn-circ btn-secondary btn-green btn-lg">Circular</button>
      <div hljs>
        <!-- primary circular button with blue color -->
          <button class="btn btn-circ btn-primary btn-blue ">Circular</button>
          <!-- Secondary circular button with blue color -->
          <button class="btn btn-circ btn-secondary btn-blue ">Circular</button>
      </div>
      <h3>Animated button</h3>
			<button class="btn btn-circ btn-primary btn-circ-a btn-blue icon-arrow-right btn-lg">Continue</button>
			<button class="btn btn-circ btn-primary btn-green btn-circ-b icon-arrow-left  btn-lg">Return</button>
      <div hljs>
        <!-- primary circular button with blue color -->
        <button class="btn btn-circ btn-primary btn-circ-a btn-blue icon-arrow-right btn-lg">Continue</button>
  			<button class="btn btn-circ btn-primary btn-green btn-circ-b icon-arrow-left  btn-lg">Return</button>
      </div>

      <h3>More style</h3>
      <p>To create rounded corner use <code>.btn-round-corner</code> class and to add shadow
        button use <code>.btn-shadow</code> class</p>
      <p>Don't like builtin color style? just add <code>.btn-color</code> class to <code>&lt;button&gt;</code>
         or <code>&lt;a&gt;</code> tag</p>
       <div hljs>
         <!-- if it is a primary button -->
         <button class="btn btn-primary btn-color">primary</button>
         <!-- write this in to yout css/style.css file -->
         <!-- write rgba value of your color with a value default 0.7 -->
         .btn-primary.btn-color{
           background: rgba(74,194,145, 0.7);
         }
         <!-- write same rgba value into it just change opacity value to 1 -->
         ..btn-primary.btn-color:hover{
           background: rgba(74,194,145,1);
         }

        <!-- if it is a secondary button -->
         <button class="btn btn-primary btn-md btn-blue">primary</button>
         <!-- write this in to yout css/style.css file -->
         <!-- write rgba value of your color with a value default 0.7 -->

         .btn-secondary.btn-color{
           color: rgba(74,194,145, 0.7);
           border: 2px solid rgba(74,194,145, 0.7);
         }
         <!-- write same rgba value into it just change opacity value to 1 -->

         .btn-secondary.btn-purple:hover{
           color:  rgba(254, 185, 9,1);
           border: 2px solid  rgba(254, 185, 9,1);
         }
       </div>
       <h2>FAB</h2>
       <p>The floating circular action button is meant for very important functions</p>
       <div class="shadow-z1 fab-btn">
         <div class="fab-ele no">
           <i class="material-icons">share</i>
         </div>
         <div class="fab-ele no">
           <i class="material-icons">notifications</i>
         </div>
         <div class="fab-ele no">
           <i class="material-icons">feedback</i>
         </div>
       </div>
       <div hljs>
         <!-- simple fab  -->
         <div class="shadow-z1 fab-btn">
           <div class="fab-ele no">
             <i class="material-icons">share</i>
           </div>
           <div class="fab-ele no">
             <i class="material-icons">notifications</i>
           </div>
           <div class="fab-ele no">
             <i class="material-icons">feedback</i>
           </div>
         </div>
       </div>
       <h3>Customize your FAB</h3>
       <p> To add change background fab element color</p>
       <div hljs>
         .fab-ele:nth-child(1) {
           background: #1DA1F2;
         }
         .fab-ele:nth-child(2) {
           background: #46629E;
         }
         .fab-ele:nth-child(3) {
           background: #DB4437;
         }
       </div>
    </div>
  </div>
</div>
<script src="js/style.js"></script>
<style>
 .example-btn  button{
   margin: 8px;
 }
</style>
