<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Cards</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>Cards are a convenient means of displaying content composed of different types of objects.
        They are also well-suited for presenting similar objects whose size or supported actions
        can vary considerably, like photos with captions of variable length.<p>
      <p>We have classes varying from <code>.shadow-z1</code> to <code>.shadow-z5</code> for box shadow</p>
        <div layout="row" layout-align="center center" layout-wrap>
          <div class="card card-ex" layout="row" layout-align="center center">
              <p>.card</p>
          </div>
          <div class="card card-ex shadow-z2  md-padding" layout="row" layout-align="start center">
            <p>.card .shadow-z2</p>
          </div>
          <div class="card card-ex shadow-z3  md-padding" layout="row" layout-align="start center">
            <p>.card .shadow-z3</p>
          </div>
          <div class="card card-ex shadow-z4  md-padding" layout="row" layout-align="start center">
            <p>.card .shadow-z4</p>
          </div>
          <div class="card card-ex shadow-z5  md-padding" layout="row" layout-align="start center">
            <p>.card .shadow-z5</p>
          </div>
        </div>
        <p> To create a material card use card class to div</p>
        <div hljs>
            <!-- normal card with default .shadow-z1 -->
            <div class="card">
            </div>
            <!-- card with .shadow-z3 -->
            <div class="card shadow-z3">
            </div>
        </div>
        <h3> Examples and uses</h3>
        <p>Self-contained pieces of paper with data.</p>
        <br>
        <div class="card" style="background: #4cbde6;max-width:500px;">
          <div class="card-content">
            <span class="card-title">Card Title</span>
            <p style="color:#fff;">I am a very simple card. I am good at containing small bits of information.
               I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <button class="btn btn-circ btn-primary btn-purple">primary</button>
          </div>
        </div>
        <div hljs>
          <div class="card">
            <div class="card-content">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                 I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <button class="btn btn-circ btn-primary btn-purple">primary</button>
            </div>
          </div>
          <!-- these are the custom style for above card -->
          .card{
            background: #4cbde6;
            max-width:500px;
          }
          .card .card-content .card-title p{
            color:#fff;
          }
        </div>
        <div class="row">
          <div class="col-md-7">
            <p>Here is the standard card with an image thumbnail.</p>
            <div class="card" style="max-width:500px;">
              <div class="card-thumb">
                <img src="images/welcome_card.jpg"/>
                <span class="card-title">Image card</span>
                <a href="" class="icon-btn card-menu icon-btn-effect">
                  <i class="material-icons">share</i>
                </a>
              </div>
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet,
                   consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...</p>
              </div>
              <div class="card-action">
                <button class="btn btn-circ btn-primary btn-purple card-shadow">primary</button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <p>Here is a simple square card with an image.</p>
            <div class="card card-square">
              <div class="card-thumb">
                <img src="images/rick_and_morty.png"/>
                <span class="card-title">Rick and Morty</span>
                <a href="" class="icon-btn card-menu icon-btn-effect">
                  <i class="material-icons">file_download</i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div hljs>
          <!-- style for left card -->
          <div class="card">
            <div class="card-thumb">
              <img src="images/welcome_card.jpg"/>
              <span class="card-title">Rick and Morty</span>
              <a href="" class="icon-btn card-menu icon-btn-effect">
                <i class="material-icons">share</i>
              </a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
                 I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <button class="btn btn-circ btn-primary btn-purple card-shadow">primary</button>
            </div>
          </div>
          <!-- these are the custom style for above card -->
          .card{
            max-width:500px;
          }


          <!-- style for right card -->
          <div class="card card-square">
            <div class="card-thumb">
              <img src="images/rick_and_morty.png"/>
              <span class="card-title">Image card</span>
              <a href="" class="icon-btn card-menu icon-btn-effect">
                <i class="material-icons">file_download</i>
              </a>
            </div>
          </div>
          <!-- these are the custom style for above card -->
          .card-square{
            width:320px;
            height:320px;
          }
        </div>
    </div>
  </div>
</div>
