<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Chips</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>Chips can be used to represent small blocks of information. They are most commonly used either for contacts or for tags.<p>
      <div class="chip">
        <img src="images/pokeball.svg" alt="Contact Person">
        Pokeball
      </div>
      <div class="chip">
        <img src="images/candy.svg" alt="Contact Person">
        Poke Candy
      </div>
      <div class="chip">
        <span class="chip-contact">A</span>
        Ankit Shiromani
      </div>
      <div class="chip">
        <span class="chip-contact chip-2">H</span>
        Haizal
      </div>
      <div hljs>
        <!-- simple chips with images -->
        <div class="chip">
           <img src="images/logo.svg">
            Pokeball
        </div>
        <!-- chips with first person name -->
        <div class="chip">
          <span class="chip-contact">A</span>
          Andy sharon
        </div>
        <!-- for changing default background color  -->
        .chip span {
          color:red;
        }
      </div>
    </div>
  </div>
</div>
