<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Collapsible</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>Collapsibles are accordion elements that expand when clicked on. They allow you to hide content that is not immediately relevant to the user.</p>
      <div class="collapse-card">
          <div class="collapse-card-heading">
              <h4 class="collapse-card-title">
                  Well, hello there
              </h4>
          </div>
          <div class="collapse-card-body">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
              ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
              clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </div>
        </div>
        <div class="collapse-card">
            <div class="collapse-card-heading">
                <h4 class="collapse-card-title">
                    Gigantomaniac Monster Text, very long, much width, wow
                </h4>
            </div>
            <div class="collapse-card-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="collapse-card">
            <div class="collapse-card-heading">
                <h4 class="collapse-card-title">
                    Generic Title
                </h4>
            </div>
            <div class="collapse-card-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
       <div hljs>
         <div class="collapse-card">
             <div class="collapse-card-heading">
                 <h4 class="collapse-card-title">
                     Well, hello there
                 </h4>
             </div>
             <div class="collapse-card-body">
                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
             </div>
           </div>
         </div>
    </div>
  </div>
</div>
<script src="js/style.js"></script>
