<div class="container custom-container card-wrapper introduction" >
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Colors</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>Hexxa provides some mostly used  product colors, as well as some lighter and darker variations.
         Though there are no specific limitations on where these may be used, it's important
         to take into account the context and previous usages when using these fills as part of your design.</p>
      <div class="row">
        <div class="col-md-6">
          <h3 class="color-label">Product Color</h3>
          <p>Use these color anywhere except backgrounds</p>
          <ul>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#2c9fdd"></div>
              <p class="valign">Adroll <code>.color-blue</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background: #4ac291"></div>
              <p class="valign">Sendroll <code>.color-green</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#9c27B0"></div>
              <p class="valign">Slargma <code>.color-purple</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#FEB909"></div>
              <p class="valign">Admindash <code>.color-yellow</code></p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3 class="color-label">UI Color</h3>
          <p>Although these colors are for UI elements but you can use these anywhere except backgrounds</p>
          <ul>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#4C596B"></div>
              <p class="valign">Primary type <code>.color-font</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background: #8c8c8c"></div>
              <p class="valign">Secondary Type<code>.color-label</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#E2E6E6"></div>
              <p class="valign">Border<code>.color-line-rule</code></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3 class="color-label">Background Color</h3>
          <p>These colors can be used for background</p>
          <ul>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#2C9FDD;opacity:0.1;"></div>
              <p class="valign">Adroll <code>.bg-color-blue</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background: #4ac291;opacity:0.1;"></div>
              <p class="valign">Sendroll <code>.bg-color-green</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#9c27B0;opacity:0.1;"></div>
              <p class="valign">Slargma <code>.bg-color-purple</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#FEB909;opacity:0.1;"></div>
              <p class="valign">Admindash <code>.bg-color-yellow</code></p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3 class="color-label">Alert color</h3>
          <p>These colors can be used for Alert text</p>
          <ul>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#7CB342"></div>
              <p class="valign">Sucess <code>.color-sucess</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#E53935"></div>
              <p class="valign">Error<code>.color-error</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#FFB330"></div>
              <p class="valign">Warning<code>.color-warning</code></p>
            </li>
            <li class="horizontal valign-wrapper">
              <div class="color-circle" style="background:#1E88E5"></div>
              <p class="valign">Info<code>.color-info</code></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
