<div class="container custom-container card-wrapper introduction" >
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>DropDown</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <h3>Normal Dropdown Button</h3>
        <select class="cs-select shadow-z1 cs-skin-border">
					<option value="" disabled selected>Preferred contact method</option>
					<option value="email">E-Mail</option>
					<option value="twitter">Twitter</option>
					<option value="linkedin">LinkedIn</option>
				</select>
    </div>
    <div class="md-padding">
      <div hljs>
        <!-- example -->
        <!-- <select class="cs-select cs-skin-border">
            <option value="" disabled selected>Preferred contact method</option>
            <option value="email">E-Mail</option>
            <option value="twitter">Twitter</option>
            <option value="linkedin">LinkedIn</option>
          </select> -->
      </div>
      <h3>Style your dropdown</h3>
      <p>To change default color of border and dropdown item</p>
      <div hljs>
        <!-- add this class with your prefred border color and size -->
        .cs-skin-border > span {
            border: 1px solid #000;
            color:#4cbbe4;
        }
        <!-- change color of option text -->
        .cs-skin-border .cs-options {
          color: #2980b9;
        }
        .cs-skin-border .cs-options {
          color: #2980b9;
        }
      </div>
    </div>
  </div>
</div><script src="js/style.js"></script>
