<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Forms (Input)</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>Forms are the standard way to receive user inputted data. The transitions and smoothness of these elements are very
        important because of the inherent user interaction associated with forms.<p>
          <h4>As of now we are supporting following frequently used Input.</h4>
          <ul>
            <li>Hoshi</li>
            <li>Material</li>
          </ul>
      <h3 class="section__title">Hoshi</h3>
      <span class="input input--hoshi">
        <input class="input-field input-field--hoshi" type="text" />
        <label class="input-label input-label--hoshi input-label--hoshi-color-1">
          <span class="input-label-content input-label-content--hoshi">Name</span>
        </label>
      </span>
      <p>Inspired by Andrej Radisic's <a href="https://dribbble.com/shots/1785176-Jawbreaker-input-field">Jawbreaker input field</a></p>
      <p>To use your preferred type of input style just remover hosi from input and label tag classes and add your style name.</p>
      <div hljs>
          <span class="input input--hoshi">
            <input class="input-field input-field--hoshi" type="text" />
            <label class="input-label input-label--hoshi">
              <span class="input-label-content input-label-content--hoshi">Name</span>
            </label>
          </span>
          <!-- to add custom color instead of blue add .input-label--hoshi-color to label tag -->
          .input-label--hoshi-color:after{
            border-color:red;
          }
      </div>
      <p>To change input label color for all input example</p>
      <div hljs>
          <!-- this will change label color to orange -->
          <!-- if this not work use (!important) with orange -->
          .input-label{
            color:orange;
          }
      </div>
      <h3>Material</h3>
      <div class="row">
        <input class="md-input col-md-6" placeholder="Username" type="text" required="">
        <input class="md-input col-md-6" placeholder="Password" type="password" required="">
      </div>
      <div hljs>
          <input class="md-input" placeholder="Username" type="text" required="">
          <input class="md-input" placeholder="Password" type="password" required="">
          <!--to change default color replace red with your color name or value  and add these css value to your css file-->
          .md-input{
            border-bottom-color: red;
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, red 4%);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red 4%);
          }
          <!-- for changing input placeholder color -->
          .md-input:focus::-webkit-input-placeholder, .md-input:valid::-webkit-input-placeholder{
            color:red;
          }

      </div>
    </div>
  </div>
</div>
