<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Icons click effect</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>We have850+ Material Design Icons courtesy of Google. Material icons are
        beautifully crafted, delightful, and easy to use in your web, Android,
        and iOS projects. Learn more about <a href="https://material.io/icons/" target="_blank">material design.</a></p>
      <h3>Usage</h3>
      <p>To be able to use these icons, you must include this line in the<code> &lt;head&gt </code>portion of your HTML code</p>
      <div hljs>
        <!-- add this in to head tag -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      </div>
      <p>To use these icons, use the material-icons class on an element and provide the ligature as the text content.</p>
      <h3>Sizes</h3>
      <p>To control the size of the icon, change the <code>font-size: 30px</code> property of your icon. </p>
      <div hljs>
        <!-- material icon -->
        <i class="material-icons" >account_circle</i>
        .material-icons{
          font-size:30px;
        }
      </div>
      <p>To add icon click effect wrap up icon in <code> &lt;button&gt </code> tag and add <code>.icon-btn .icon-btn-effect</code>
      in it</p>
      <button class="icon-btn icon-btn-effect">
        <i class="material-icons" style="font-size:24px;">account_circle</i>
      </button>
      <button class="icon-btn icon-btn-effect">
        <i class="material-icons" style="font-size:30px;">account_circle</i>
      </button>
      <button class="icon-btn icon-btn-effect">
        <i class="material-icons" style="font-size:42px;">account_circle</i>
      </button>
      <button class="icon-btn icon-btn-effect">
        <i class="material-icons" style="font-size:42px;">favorite_border</i>
      </button>
      <button class="icon-btn icon-btn-effect">
        <i class="material-icons" style="font-size:42px;">important_devices</i>
      </button>
      <button class="icon-btn icon-btn-effect">
        <i class="material-icons" style="font-size:42px;">perm_scan_wifi</i>
      </button>
      <div hljs>
          <button class="icon-btn icon-btn-effect">
            <img src="images/egg.svg" height="30" width="30"></img>
          </button>
          <!-- to change the color -->
          .icon-btn i{
            color:red;
          }
      </div>
    </div>
  </div>
</div>
<script src="js/style.js"></script>
