<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>List</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>Lists present multiple line items vertically as a single continuous element</p>
      <b>Default List</b>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Bryan Cranston</li>
            <li>Aaron Paul</li>
            <li>Bob Odenkirk</li>
          </ul>
        </div>
        <div class="col-md-6">
          <b>Material Design list</b>
          <ul class="md-list">
            <li>
              <i class="material-icons">account_circle</i>
              <span class="heading">Bryan Cranston<span>
              <span class="sub-header">62 Episodes</span>
            </li>
            <li><i class="material-icons">account_circle</i>Aaron Paul</li>
            <li><i class="material-icons">account_circle</i>Bob Odenkirk</li>
          </ul>
        </div>
      </div>
      <div hljs>
        <!-- Default list -->
        <ul>
          <li>Bryan Cranston</li>
          <li>Aaron Paul</li>
          <li>Bob Odenkirk</li>
        </ul>

        <!-- Material Design list-->
        <ul class="md-list">
          <li>
            <i class="material-icons">account_circle</i>
            <span class="heading">Bryan Cranston<span>
            <span class="sub-header">62 Episodes</span>
          </li>
          <li>
            <i class="material-icons">account_circle</i>
            Aaron Paul
          </li>
          <li>
            <i class="material-icons">account_circle</i>
            Bob Odenkirk
          </li>
        </ul>
      </div>
      <h3>Examples</h3>
      <ul class="md-list" style="max-width:600px;">
        <li>
          <i class="material-icons">account_circle</i>
          <span class="heading">Bryan Cranston<span>
          <span class="sub-header">Bryan Cranston played the role of Walter in Breaking Bad.
             He is also known for playing Hal in Malcom in the Middle.</span>
        </li>
        <li>
          <i class="material-icons">account_circle</i>
          <span class="heading">Aaron Paul<span>
          <span class="sub-header">Aaron Paul played the role of Jesse in Breaking Bad.
             He also featured in the "Need For Speed" Movie.</span>
        </li>
        <li>
          <i class="material-icons">account_circle</i>
          <span class="heading">Bob Odinkrik<span>
          <span class="sub-header">Bob Odinkrik played the role of Saul in Breaking Bad.
             Due to public fondness for the character, Bob stars in his own show now, called "Better Call Saul".
          </span>
        </li>
      </ul>
    </div>
  </div>
