<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Nav bar</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>The navbar is fully contained by an HTML5 Nav tag. Inside a recommended container div, there are 2 main parts of the navbar. A logo or brand link,
        and the navigations links. You can align these links to the left or right.<p>
          <h4>As of now we are supporting following frequently used navbar</h4>
          <ul>
            <li>Francisco</li>
            <li>Sebastian</li>
            <li>Prospero</li>
          </ul>
      <h3>Francisco</h3>
      <nav class="nav nav-francisco">
        <ul class="nav-list">
          <li class="nav-item nav-item--current"><a class="nav-item-link"><span class="nav-item-helper">Home</span></a></li>
          <li class="nav-item"><a class="nav-item-link"><span class="nav-item-helper">Shop</span></a></li>
          <li class="nav-item"><a class="nav-item-link"><span class="nav-item-helper">News</span></a></li>
          <li class="nav-item"><a class="nav-item-link"><span class="nav-item-helper">Projects</span></a></li>
          <li class="nav-item"><a class="nav-item-link"><span class="nav-item-helper">Contact</span></a></li>
        </ul>
      </nav>
      <div hljs>
        <!-- Franciso -->
          <nav class="nav nav-francisco">
            <ul class="nav-list">
              <li class="nav-item nav-item--current"><a class="nav-item-link"><span class="nav-item-helper">Home</span></a></li>
              <li class="nav-item"><a class="nav-item-link"><span class="nav-item-helper">Shop</span></a></li>
              <li class="nav-item"><a class="nav-item-link"><span class="nav-item-helper">News</span></a></li>
              <li class="nav-item"><a class="nav-item-link"><span class="nav-item-helper">Projects</span></a></li>
              <li class="nav-item"><a class="nav-item-link"><span class="nav-item-helper">Contact</span></a></li>
            </ul>
          </nav>
      </div>
      <h3>Sebastian</h3>
      <nav class="nav nav-sebastian">
        <ul class="nav-list">
          <li class="nav-item nav-item--current"><a href="#" class="nav-item-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-item-link">Shop</a></li>
          <li class="nav-item"><a href="#" class="nav-item-link">News</a></li>
          <li class="nav-item"><a href="#" class="nav-item-link">Support</a></li>
          <li class="nav-item"><a href="#" class="nav-item-link">Contact</a></li>
        </ul>
      </nav>
      <div hljs>
        <!--sebastian-->
          <nav class="nav nav-sebastian">
            <ul class="nav-list">
              <li class="nav-item nav-item--current"><a href="#" class="nav-item-link">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-item-link">Shop</a></li>
              <li class="nav-item"><a href="#" class="nav-item-link">News</a></li>
              <li class="nav-item"><a href="#" class="nav-item-link">Support</a></li>
              <li class="nav-item"><a href="#" class="nav-item-link">Contact</a></li>
            </ul>
          </nav>
      </div>
      <h3>Prospero</h3>
      <nav class="nav nav-prospero">
        <ul class="nav-list">
          <li class="nav-item nav-item--current"><a href="#" class="nav-item-link">Welcome</a></li>
          <li class="nav-item"><a href="#" class="nav-item-link">About</a></li>
          <li class="nav-item"><a href="#" class="nav-item-link">Solutions</a></li>
          <li class="nav-item"><a href="#" class="nav-item-link">Blog</a></li>
          <li class="nav-item"><a href="#" class="nav-item-link">Contact</a></li>
        </ul>
      </nav>
      <div hljs>
        <!--prospero-->
          <nav class="nav nav-prospero">
            <ul class="nav-list">
              <li class="nav-item nav-item--current"><a href="#" class="nav-item-link">Welcome</a></li>
              <li class="nav-item"><a href="#" class="nav-item-link">About</a></li>
              <li class="nav-item"><a href="#" class="nav-item-link">Solutions</a></li>
              <li class="nav-item"><a href="#" class="nav-item-link">Blog</a></li>
              <li class="nav-item"><a href="#" class="nav-item-link">Contact</a></li>
            </ul>
          </nav>
      </div>
      <h3>Style your Navigation</h3>
      <p>For changing color of navigation. this will change color to green</p>
      <div hljs>
        <!-- these styles are for Francisco for other nav just change name -->
        <!-- default link item color -->
        .nav-francisco .nav-item-link {
            color: red;
        }
        <!-- on hover color  -->
        .nav-francisco  .nav-item-link:hover{
          color: yellow;
        }
        <!-- selected item color -->
        .nav-francisco .nav-item--current .nav-item-link {
            color: green;
        }
      </div>
    </div>
  </div>
</div>
<script src="js/style.js"></script>
