<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Preloader</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>Preloader component is a visual indicator of background activity in a web page or application.
         A progress indicator consists of a (typically) horizontal bar containing some animation that
          conveys a sense of motion. While some progress devices indicate an approximate or specific percentage of completion.</p>
      <h3>Linear</h3>
      <div class="progress">
         <div class="indeterminate"></div>
      </div>
      <div hljs>
        <!-- simple linear progress bar -->
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
        <!-- to change the color of progress bar -->
        .progress{
          background:rgba(38, 166, 154,0.5);
        }
        .progress .interminate{
          background:rgba(38, 166, 154,1);
        }
      </div>
    </div>
  </div>
</div>
