<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
      <div class="md-padding" layout="row" layout-align="start center">
        <h2>Release Notes</h2>
      </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <div class="row">
        <div class="col-md-2">
          <p style="color:#999">V 0.0.3</p>
        </div>
        <div class="col-md-10 release-update">
          <h3 style="margin-top:1rem;">Development Version</h3>
          <p style="color:#999">20th Jan</p>
          <ul>
            <li>Development element added (Node.js, Bower and gulp)</li>
            <li>Minor UI refreshment and ng-view slide up animation</li>
            <li>Minor bug fixed</li>
          </ul>
        </div>
      </div>
      <div class="md-divider"></div>
      <div class="row">
        <div class="col-md-2">
          <p style="color:#999">V 0.0.2</p>
        </div>
        <div class="col-md-10 release-update">
          <h3 style="margin-top:1rem;">Inital Release</h3>
          <p style="color:#999">16th Jan</p>
          <ul>
            <li>Much needed Documentation added</li>
            <li>New button and Google Material icons added, Ruri Input deprected</li>
          </ul>
        </div>
      </div>
      <div class="md-divider"></div>
      <div class="row">
        <div class="col-md-2">
          <p style="color:#999">V 0.0.1</p>
        </div>
        <div class="col-md-10 release-update">
          <h3 style="margin-top:1rem;">Inital Release</h3>
          <p style="color:#999">14th Jan</p>
          <ul>
            <li>First Deployment</li>
            <li>Instructions on how to integrate this framework into YOUR project.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
