<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Tabs</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>The tabs structure consists of an unordered list of tabs that have hashes corresponding to tab ids. Then when you click on each tab, only the container with the corresponding tab id will become visible.</p>
       <div id="tabs" class="tabs no-js">
         <div class="tabs-nav">
           <a href="#" class="tabs-nav-link is-active">
             <span>Home</span>
           </a>
           <a href="#" class="tabs-nav-link">
             <span>Books</span>
           </a>
           <a href="#" class="tabs-nav-link">
             <span>Favourites</span>
           </a>
         </div>
         <div class="tab is-active">
           <div class="tab-content">
             <h2>Welcome home!</h2>
             <p>Home ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quo minus voluptate unde tempore eveniet consequuntur in, quod animi libero rem similique pariatur quos, et eum nisi ducimus, architecto voluptatibus!</p>
           </div>
         </div>
         <div class="tab">
           <div class="tab-content">
             <h2>All Books</h2>
             <p>Books ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quo minus voluptate unde tempore eveniet consequuntur in, quod animi libero rem similique pariatur quos, et eum nisi ducimus, architecto voluptatibus!</p>
           </div>
         </div>
         <div class="tab">
           <div class="tab-content">
             <h2>Your Favourites!</h2>
             <p>Favourites ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quo minus voluptate unde tempore eveniet consequuntur in, quod animi libero rem similique pariatur quos, et eum nisi ducimus, architecto voluptatibus!</p>
           </div>
         </div>
       </div>
     <div hljs>
           <div id="tabs" class="tabs no-js">
             <div class="tabs-nav">
               <a href="#" class="tabs-nav-link is-active">
                 <span>Home</span>
               </a>
               <a href="#" class="tabs-nav-link">
                 <span>Books</span>
               </a>
             </div>
             <div class="tab is-active">
               <div class="tab-content">
                 <h2>Welcome home!</h2>
               </div>
             </div>
             <div class="tab">
               <div class="tab-content">
                 <h2>All Books</h2>
               </div>
             </div>
           </div>
         </div>
    </div>
  </div>
</div>
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="js/style.js"></script>
