<div class="container custom-container card-wrapper introduction">
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Tooltip</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <p>The tooltip is visible when the button is hovered, focused, or touched.<p>
      <h3>CSS Directional Tooltips</h3>
      <p>Data attribute only <a href="#" data-tooltip="I’m the tooltip text">Tooltip</a></p>
      <p><code>.tooltip</code> <a href="#" class="tooltip" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
      <p><code>.tooltip-top</code> <a href="#" class="tooltip-top" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
      <p><code>.tooltip-right</code> <a href="#" class="tooltip-right" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
      <p><code>.tooltip-bottom</code> <a href="#" class="tooltip-bottom" data-tooltip="I’m the tooltip text.">Tooltip</a></p>
      <p><a href="#" class="tooltip-left" data-tooltip="I’m the tooltip text.">Tooltip</a> <code>.tooltip-left</code></p>
      <div hljs>
          <a href="#" class="tooltip" data-tooltip="I’m the tooltip text.">Tooltip</a>
          <a href="#" class="tooltip-bottom" data-tooltip="I’m the tooltip text.">Tooltip</a>
      </div>
    </div>
  </div>
</div>
