<div class="container custom-container card-wrapper introduction" >
  <div class="col-md-10 col-md-offset-1 intro-wrapper">
    <div class="md-padding" layout="row" layout-align="start center">
      <h2>Typography</h2>
    </div>
    <div class="md-divider"></div>
    <div class="md-padding">
      <h3>Headers</h3>
      <p>We provide some basic styling on header tags. In the example, you can see the the 6 header tags' different sizes.</p>
      <h1>Heading h1</h1>
      <h2>Heading h2</h2>
      <h3 style="margin-top:1em">Heading h3</h3>
      <h4>Heading h4</h4>
      <h5>Heading h5</h5>
      <h6>Heading h6</h6>
      <p>Create lighter, secondary text in any heading with a generic <code></code> tag or the <code>.small</code> class.</p>
      <h2>Heading h2<small> Secondary Text </small></h2>
      <div hljs>
        <!-- Page Content goes here -->
        <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
      </div>
      <h3>Bold</h3>
      <p>For emphasizing a snippet of text with a heavier font-weight.</p>
      <p>The following snippet of text is rendered as bold text.<strong>rendered as bold text</strong></p>
      <div hljs>
        <!-- example -->
        <strong>rendered as bold text</strong>
        <!-- or -->
        <b>rendered as bold text</b>
      </div>
      <h3>Italic</h3>
      <p>For emphasizing a snippet of text with italics.</p>
      <p>The following snippet of text is<em>The quick brown fox jumps over the lazy dog.</em></p>
      <div hljs>
        <!-- example -->
        <em>The quick brown fox jumps over the lazy dog.</em>
      </div>
      <h3>Emphasis</h3>
      <p>Use the following html tags and utility classes to add emphasis to blocks of text.</p>
      <b><span class="regular">The quick brown fox</span> jumps over the lazy dog.</b>
      <div hljs>
        <!-- example -->
        <b><span class="regular">The quick brown fox</span> jumps over the lazy dog.</b>
      </div>
    </div>
  </div>
</div>
