<section class="section-wrap sub-sections">
  <div class="top-header col-xs-12">
    <h1>Biography</h1>
  </div>
  <div class="container" style="position:relative;top:100px;">
    <img  class="left-img" src="images/bb1.jpg" />
      <p class="center head-text">{{biography.current}}</p>
      <img  class="right-img" src="images/bb2.jpg" />
      <p class="center head-text">{{biography.previous}}</p>
    </div>
</section>
<style>
.container{
  /*margin-bottom: 300px;*/
  padding-bottom: 120px;
}
</style>
