<section  class="section-wrap sub-sections book-sec" style="background-color:#EEE">
  <div class="top-header booking col-xs-12">
    <h1>Performer, Poet & Motivator</h1>
  </div>
  <div class="container">
    <div class="col-xs-12">
      <header class="section__header">
        <h3 class="row center sec-title" style="color:black;">Book a Show</h3>
      </header>
    </div>
    <form class="row center" name="userForm" novalidate>
       <!-- NAME -->
       <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
           <input placeholder="Your Name" type="text" name="name" class="md-input" ng-model="user.name" required>
           <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
       </div>

       <!-- EMAIL -->
       <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
           <input placeholder="Email ID" type="email" name="email" class="md-input" ng-model="user.email" required>
           <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
       </div>
       <!-- USERNAME -->
       <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.phone.$pristine }">
           <input placeholder="Phone number" type="number" name="phone" class="md-input" ng-model="user.phone" required ng-minlength="10" ng-maxlength="11">
           <p ng-show="userForm.phone.$error.minlength" class="help-block">Phone number is too short.</p>
           <p ng-show="userForm.phone.$error.maxlength" class="help-block">Phone number is too long.</p>
       </div>
       <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.message.$pristine }">
           <textarea placeholder="Message" type="text" name="message" class="md-input" ng-model="user.message" ng-minlength="20" required></textarea>
           <p ng-show="userForm.message.$error.minlength" class="help-block">Message is too short.</p>
       </div>
       <div class="row center" style="margin-top:100px">
         <div class="btn-wrap">
             <a class="btn btn--primary" ng-click="send(user)" ng-disabled="userForm.$invalid">
               <span class="btn__overlay"></span>
               <span class="btn__text">Submit</span>
             </a>
         </div>
       </div>
   </form>
  </div>
</section>
