<section class="section-wrap sub-sections">
  <div class="top-header poem col-xs-12">
    <h1>Gallery</h1>
  </div>
  <div class="container sub-cont">
    <div class="row center content-wrapper" layout="row" layout-align="center center" layout-wrap>
      <div href=""ng-repeat="image in images" ng-click="expandImg($index,images)">
        <!-- <a class="badge badge--sm-center">
          <a class="ico ico--badge"></a>
          <a class="badge__body">
            No.<br>{{$index+1}}
          </a>
        </a> -->
        <img src="{{image.src}}" ng-class="{ 'big-img': isImgBig }" class="card">
      </div>
    </div>
  </div>
  <div ng-class="{ 'big-img': isImgBig }"class="modal-img-wrapper">
    <img ng-src='{{modalimg.url}}'/>
    <div class="modal-btn row center">
      <a id="link" class="btn btn--primary" data-text="More About Us" ng-if='!hidePrevImg' ng-href ="" ng-click="prevImg(modalimg.index)">
        <span class="btn__overlay"></span>
        <span class="btn__text"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
      </a>
      <a id="link" class="btn btn--primary" data-text="More About Us" ng-if='!hideNextImg' ng-href =""ng-click="nextImg(modalimg.index)" >
        <span class="btn__overlay"></span>
        <span class="btn__text"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
      </a>
      <a id="link" class="btn btn--primary" data-text="More About Us"  ng-href ="" ng-click="deExpandImg()">
        <span class="btn__overlay"></span>
        <span class="btn__text"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
      </a>
    </div>
  </div>
</section>
<style>
/*@media (min-width: 1200px){
  .container {
      max-width: 1170px;
  }
}*/
  .content-wrapper{
    margin: 350px auto 100px;
  }
  .content-wrapper img{
    max-width: 350px;
    margin: 8px;
  }
  .content-wrapper .card{
    margin: 8px !important;
    padding: 10px;
  }
.img-shift{
  position: relative;
left: -5px;
}
.img-card img{
  height: 180px;
  width: auto;
}
@media (max-width: 600px){
  .modal-img-wrapper img{
    width: 100%;
    position: relative;
    top: 250px;
    height: auto;
  }
  .modal-img-wrapper.big-img .modal-btn {
    bottom: 100px;
  }
  .content-wrapper{
    margin-top: 200px;
  }
  .content-wrapper img{
    max-width: 300px;
    margin: auto;
  }
  /*.sub-cont{
    width: 100% !important;
    max-width: 100%;
    margin:auto;
  }*/
}
.img-card:hover{
  -webkit-box-shadow: 20px 19px 64px 0px rgba(208,208,208,.7);
    box-shadow: 20px 19px 64px 0px rgba(208,208,208,.7);
    transition:all 0.4s ease-in-out;

}
.fa{
  font-size: 30px;
}
</style>
