<section id="home">
  <div class="container">
    <div class="row center valign-wrapper">
      <!-- <h3><span>Iam</span>.</h3> -->
      <div class="valign">
        <h1 >Amit Kumar</h1>
        <p>Performer - Poet - Motivator</p>
        <div class="red-line"></div>
        <div class="btn-wrapper">
          <div class="btn-wrap">
            <a ng-href="#biography" du-smooth-scroll du-scrollspy>
              <button class="custom-btn">Take a Tour</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="biography" class="section-wrap">
  <div class="container">
    <div class="col-xs-12">
      <header class="section__header">
        <h1 data-num="01"></h1>
        <h3 when-visible="ElementIn" class="not-visible row center sec-title">Biography</h3>
      </header>
    </div>
      <p when-visible="ElementIn" class="not-visible row center head-text">{{biography.current}} </p>
      <div class="row center" style="margin-top:3rem">
        <div when-visible="ElementIn" class="not-visible btn-wrap">
          <a ng-href="#!/biography">
            <button class="custom-btn">More About Me</button>
          </a>
        </div>
      </div>
    </div>
</section>
<section id="poetry" class="section-wrap">
  <div class="container">
    <div class="col-xs-12">
      <header class="section__header">
        <h1 data-num="01"></h1>
        <h3 when-visible="ElementIn" class="not-visible row center sec-title">Poetry</h3>
      </header>
    </div>
    <p when-visible="ElementIn" class="not-visible row center head-text">
      Lorem Ipsum is simply dummy text of the printing
       and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since
         the 1500s, when an unknown printer took a galley
         of type and scrambled it to make a type specimen
          book. It has survived not only five centuries,
          but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised
          in the 1960s with the release of Letraset sheets
           containing Lorem Ipsum passages,
      and more recently with desktop publishing software
       like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <div class="row center">
      <div class="col-md-6 col-sm-6 col-xs-12 " ng-repeat="x in poem" ng-if="$index<2">
        <!-- <div when-visible="ElementIn" class="not-visible badge badge--sm-center">
          <div class="ico ico--badge"></div>
          <div class="badge__body">
          </div>
        </div> -->
        <div when-visible="ElementIn" class="not-visible poetry-wrapper custom-card">
          <p ng-repeat="line in x.lines">{{line}}</p>
        </div>
      </div>
    </div>
    <div class="row center" style="margin-top:100px">
      <div when-visible="ElementIn" class="not-visible btn-wrap">
        <a ng-href="#!/poetry">
          <button class="custom-btn">See All</button>
        </a>
      </div>
    </div>
  </div>
</section>
