<section class="section-wrap sub-sections">
  <div class="top-header poem col-xs-12">
    <h1>Poetry</h1>
  </div>
  <div class="container">
    <div class="col-xs-12">
      <header class="section__header">
        <!-- <h1 data-num="01">01</h1> -->
        <!-- <h3 class="row center sec-title">Current</h3> -->
      </header>
    </div>
    <p class="row center head-text" style = "margin:300px auto 100px;">
      Lorem Ipsum is simply dummy text of the printing
       and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since
         the 1500s, when an unknown printer took a galley
         of type and scrambled it to make a type specimen
          book. It has survived not only five centuries,
          but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised
          in the 1960s with the release of Letraset sheets
           containing Lorem Ipsum passages,
      and more recently with desktop publishing software
       like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Shayari">
        <md-content class="md-padding">
          <div class="row center content-wrapper">
            <div class="card1 custom-card service-card" ng-repeat="x in poem">
              <!-- <div class="badge badge--sm-center">
                <div class="ico ico--badge"></div>
                <div class="badge__body">
                  No.<br>{{$index+1}}
                </div>
              </div> -->
              <!-- <div  class="poetry-wrapper">
                <p ng-repeat="line in x.lines">{{line}}</p>
              </div> -->

                <div layout="row">
                      <div flex="25" show-gt-xs class=" hide-on-med-and-down service-card-left">
                        <div class="service-image">
                          <img src = {{x.img}} class="md-whiteframe-10dp">
                        </div>
                      </div>
                      <div flex-gt-sm="100" flex="75" class="service-card-right">
                          <p ng-repeat="line in x.lines">{{line}}</p>
                      </div>

                    </div>
            </div>



          </div>
        </md-content>
      </md-tab>

      <md-tab label="Ghazals">
        <md-content class="md-padding">
          <div class="row center content-wrapper">
            <div class="card1 custom-card service-card" ng-repeat="x in ghazals">
              <!-- <div class="badge badge--sm-center">
                <div class="ico ico--badge"></div>
                <div class="badge__body">
                  No.<br>{{$index+1}}
                </div>
              </div> -->
              <div layout="row">
                    <div flex="25" show-gt-xs class=" hide-on-med-and-down service-card-left">
                      <div class="service-image">
                        <img src = {{x.img}} class="md-whiteframe-10dp">
                      </div>
                    </div>
                    <div flex-gt-sm="100" flex="75" class="service-card-right">
                        <p ng-repeat="line in x.lines">{{line}}</p>
                    </div>

                  </div>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>



  </div>
</section>
<style>
md-content.md-default-theme, md-content{
  background: transparent  !important;
}
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
  background: #ef0d33;
color: white;
}

.service-card-left {
  position: relative;
}

.service-card {
  width: 60%;
  margin: 50px 0px 50px 0px;
  min-height: 25vh;
  font-family: "Varela Round", sans-serif;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .service-card {
    width: 90% !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .service-card {
    width: 80% !important;
  }
}
.service-card-right {
  line-height: 200%;
}
.service-card-right h1 {
  margin: 0 0 10px 0;
  color: #373c46;
}
.service-card-right p {
  color: #90A4AE;
}

.service-image {
  position: absolute;
  left: -70%;
}
.service-image img {
  height: 25vh;
  border-radius: 2px;
}

.service-image1 {
  position: absolute;
  left: -70%;
}
.service-image1 img {
  height: 30vh;
  border-radius: 2px;
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
</style>
