
    <section id = "bio-1">
        <div class="container">
          <div class="row center">
            <h1>Bhai ki published post</h1>
          </div>
          <div class="row">
            <div class="col-md-6" style="padding:2%">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Poetry1</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                     I am convenient because I require little markup to use effectively.</p>
                </div>

              </div>
            </div>
            <div class="col-md-6" style="padding:2%">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Poetry2</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                     I am convenient because I require little markup to use effectively.</p>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="padding:2%">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Poetry3</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                     I am convenient because I require little markup to use effectively.</p>
                </div>

              </div>
            </div>
            <div class="col-md-6" style="padding:2%">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Poetry4</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                     I am convenient because I require little markup to use effectively.</p>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="padding:2%">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Poetry5</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                     I am convenient because I require little markup to use effectively.</p>
                </div>

              </div>
            </div>
            <div class="col-md-6" style="padding:2%">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">Poetry6</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                     I am convenient because I require little markup to use effectively.</p>
                </div>

              </div>
            </div>
          </div>



        </div>
        <img src = "images/mask_yellow.png" class = "mask-down">
  </section>
