@import "compass";
@import "partials/variables";
@import "partials/normalize";
@include font-face("Trump Gothic East", font-files("fonts/TrumpGothicEast_bold.ttf"));
body{
  background-color:$white;
}
.loader-wrapper{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  z-index: 11;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}
.loading {
    margin-top: calc( 50vh - 25px);
    border-radius: 50%;
    display: inline-block;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}

.button-container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  @media screen and (max-width: $break-mobile) {
    top: 25px;
    right: 15px;
  }
  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
  background: $color-hamburger;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  // opacity: 0;
  z-index: 5;
  // visibility: hidden;
  @include transition(all 0.4s ease-in-out);
  overflow: hidden;
  &.open {
    // opacity: .9;
    // visibility: visible;
    right: 0;
    @include transition(all 0.4s ease-in-out);
    @media screen and (max-width: $break-mobile) {
      @include transition(all 0.4s ease-in-out);
      width: 100%;
      right: 0
    }
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  .nav-main{
    position: relative;
    height: 70%;
    margin: auto 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    @media screen and (max-width: $break-mobile) {
      position: relative;
      height: 100vh;
      float: none;
      margin: auto 25px;
    }
    .nav-menu{
      ul li{
        display: block;
        margin-bottom: 8px;
        text-align: left;
        a{
          color: $tundora;
          font-family: $titanium;
          text-transform: uppercase;
          display: inline-block;
          font-size: 36px;
          font-weight: bold;
          padding: 2px 0;
          position: relative;
          @include transition(all 0.3s ease-in-out);
          @media screen and (max-width: $break-laptop) {
            font-size: 32px;
          }
          // @media screen and (min-width: $break-large) {
          //   float: right;
          // }
          span{
            padding: 0 5px;
            position: relative;
            z-index: 100;
          }
          &:after{
            @include transition(all 0.3s ease-in-out);
            background-color: $tomato;
            content: "";
            height: 100%;
            width: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
          }
          &:hover{
            color: $white;
            @include transition(all 0.3s ease-in-out);
            &::after{
              width: 100%;
            }
          }
        }
      }
    }
    .nav-footer{
      .newsletter{
        p{
          color: #6e6e6e;
          font-size: 14px;
          text-transform: none;
          padding-right: 10px;
          padding-bottom: 10px;
          line-height: 17px;
          font-family: $titanium;
        }
      }
      .link{
        ul li{
          display: block;
          margin-bottom: 8px;
          text-align: left;
          a{
            color: $tundora;
            font-family: $titanium;
            text-transform: uppercase;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            padding: 2px 0;
            position: relative;
            span{
              padding: 0 5px;
              position: relative;
              z-index: 100;
            }
            &:after{
              @include transition(all 0.3s ease-in-out);
              background-color: $tomato;
              content: "";
              height: 100%;
              width: 0;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 0;
            }
            &:hover{
              color: $white;
              &::after{
                width: 100%;
              }
            }
          }
        }
      }
      .social-nav{
        margin-bottom: 28px;
        font-size: 0;
        div{
          display: inline-block;
          margin-right: -1px;
          margin-bottom: -1px;
          a{
            position: relative;
            display: inline-block;
            width: 61px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 18px;
            border: 1px solid #bfbfbf;
            color: #bfbfbf;
            z-index: 1;
            @include transition(all .5s ease-in-out);
            &:hover{
              z-index:999;
            }
            i{
              @include transition(all .5s ease-in-out);
            }
            .fa {
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
            .fa-fw {
              width: 1.28571429em;
              text-align: center;
              top: 10px;
              position: relative;
            }
          }
          .twitter{
            &:hover{
              border:1px solid $twitter;
               i{color:$twitter !important;}
            }
          }
          .facebook{
            &:hover{
              border:1px solid $facebook;
              i{color:$facebook !important;}
            }
          }
          .behance{
            &:hover{
              border:1px solid $behance;
              i{color:$behance !important;}
            }
          }
          .dribble{
            &:hover{
              border:1px solid $dribble;
              i{color:$dribble !important;}
            }
          }.instagram{
            &:hover{
              border:1px solid $instagram;
              i{color:$instagram !important;}
            }
          }.linkedin{
            &:hover{
              border:1px solid $linkedin;
              i{color:$linkedin !important;}
            }
          }
        }
      }
    }
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.right-view{
  min-height: 100vh;
  width: 100%;
  color:#eee;
  @include transition(all 0.4s ease-in-out);
  &.true {
    // opacity: .9;
    width: calc( 100% - 350px);
    @media screen and (max-width: $break-tablet) {
      @include transition(all 0.4s ease-in-out);
      width:100%;
    }
  }
}

.footer{
  width: 100%;
  background-color: #f5f5f5;
  @include transition(all 0.3s ease-in-out);
  &.open{
    width: calc( 100% - 350px);
    @include transition(all 0.3s ease-in-out);
    float:left;
  }
  .row{
    margin:50px;
    @media screen and (max-width: $break-mobile) {
      margin:100px auto;
    }
    p{
      font-family: Maison Neue,sans-serif;
      font-size: 16px;
      letter-spacing: .2px;
      line-height: 1.5;
      color: #212121;
      font-weight: 400;
      small{
        font-weight: 100;
        font-size: 90%;
        color: #888;

      }
      a{
        color: #ef0d33;
        transition: color .3s ease;
        text-decoration: none;
        &:hover{
          color: black;
          transition: color .3s ease;
        }
      }
    }
  }
  .footer-social-nav{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    li{
        display: inline-block;
        a{
          color: #888;
         text-decoration: none;
         transition: color .3s ease;
         display: block;
         font-size: 36px;
         cursor: pointer;
         .fa-twitter{
           &:hover{
             color:#55acee;
             transition: color .3s ease;

           }
         }
         .fa-facebook{
           &:hover{
             color:#3b5999;
             transition: color .3s ease;

           }
         }
         .fa-instagram{
           &:hover{
             color:#e4405f;
             transition: color .3s ease;

           }
         }
        }
    }
  }
}



#section1 {
  background-color: $color-background;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
               rgba(0,0,0,0.5) url("../images/b2.jpg") no-repeat center;
  // -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  // filter: grayscale(100%);
  min-height:100vh;
  position: relative;
  background-size: cover;
  .container{
    .row{
      font-family:$gothic;
      color: $white;
      height:100vh;
      .valign{
        margin: auto;
      }
      h3{
        font-family: $open-sans;
        font-weight: 700;
        font-size: 76px;
        line-height: 1;
        span{
          color: #ef0d33;
        }
      }

      h1{
        font-weight: 700;
        font-size: 128px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media screen and (max-width: $break-laptop) {
          font-size: 100px;
        }
        @media screen and (max-width: $break-mobile) {
          font-size: 70px;
        }
        @media screen and (max-width: $break-small) {
          font-size: 60px;
        }
      }
      p{
        font-family: Maison Neue,sans-serif;
        // font-weight: 700;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        @media screen and (max-width: $break-small) {
          font-size: 14px;
        }
      }
      .red-line{
        height: 4px;
        background-color: #ef0d33;
        width: 50px;
        margin: auto;
      }
    }
    .btn-wrapper{
      margin: 100px auto;
    }
  }
}

.section-wrap {
  background-color: #fff;
  color: #212121;
  padding: 3.125rem 0 8.625rem 0;
  // max-height: 100vh;
  position: relative;
  header{
    h1{
      visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s ease 0s, opacity 0.9s ease 0s; transition: transform 0.9s ease 0s, opacity 0.9s ease 0s;
      font-size: 188px;
      font-family:$gothic;
      font-size: 11.75rem;
      margin: 0;
      text-align: center;
      opacity: 0.1;
    }
    span{
      color: #111517;
      position: relative;
    }
  }
  h3{
    font-weight: 700;
    font-size: 42px;
    font-family:$gothic;
    text-transform: uppercase;
    // position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
  }
  .head-text{
    font-size: 32px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 3rem auto;
    font-family:$playfair;
    @media screen and (max-width: $break-mobile) {
      font-size: 18px;
      line-height: 2.3rem;
    }
  }
}
.btn-wrap{
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  width: 240px;
  .btn {
    margin-left: 0;
    font-family: Maison Neue,sans-serif;
    font-weight: 700;
    font-size: 13px;
    font-size: .8125rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 16px 0 15px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: background-color .3s,color .3s,border-color .3s;
    width: 100%;
    color: #fff;
    display: block;
  }
  .btn--primary{
    background-color: #ef0d33;
  }
}
#section3 {
  background-color: #f5f5f5;
  color: #212121;
  padding: 3.125rem 0 8.625rem 0;
  min-height: 100vh;
  position: relative;
  .badge{
    margin-left: 0px !important;
    background-repeat: no-repeat;
    background-image: url("../images/download.svg");
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 1;
    font-family:$playfair;
    margin: 50px auto 34px;
    font-size: 16px;
    font-size: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .poetry-wrapper{
    p{
      text-align: left;
      color: #888;
      font-size: 20px;
      font-weight: 300;
      // font-size: 1.125rem;
      line-height:24px;
      font-family: $mason;
      @media screen and (max-width: $break-mobile) {
        font-size: 16px;
        text-align: center;
        line-height:24px;
      }
    }
  }
}
#section4{
  color: #fff;
  min-height: 0 !important;
  width: 100%;
  padding: 3.125rem 0 4rem 0;
  top:0;
  overflow: hidden;
  h4{
    margin: 30px;
    color: black;
    font-size: 16px;
    font-family: $open-sans;
    font-weight: 500;
    a{
      color:#ef0d33;
    }
  }
}
.book-sec{
  .section__header{
    h3{
      width: 100%;
      top: 0;
      color: black;
      text-transform: uppercase;
      position: relative !important;
    }
  }
}
.sub-sections{
  margin-top: 0;
  padding-top:0;
  .top-header{
    background-color:#00ce97;
    width: 100%;
    h1{
      text-align: center;
      font-family: $gothic;
      font-weight: 700;
      color: $white;
      font-size: 88px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .poem{
    background-color: #f87041;
  }
  .booking{
    background: #7e5dfb;
  }
  .container{
    .head-text{
      text-align: justify;
    }
    .badge{
      margin-left: 0px !important;
      background-repeat: no-repeat;
      background-image: url("../images/download.svg");
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 1;
      font-family:$playfair;
      margin: 50px auto 34px;
      font-size: 16px;
      font-size: 1rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .poetry-wrapper{
      p{
        text-align: left;
        color: #888;
        font-size: 20px;
        font-weight: 300;
        margin: 8px;
        // font-size: 1.125rem;
        font-family: $mason;
      }
    }
  }
}

.content-wrapper{
  .card{
    margin: 20px;
    box-shadow: 10px 11px 20px 6px rgba(208, 208, 208,0.3);
    display: inline-block;
    padding: 20px;
  }
}

// .gallery.html
.modal-img-wrapper{
  height: 0;
  width: 0;
  left: 0;
  top: 50vh;
  left: 50%;
  position: fixed;
  background: white;
  // top: -120vh;
  z-index: -100;
  @include transition(all 0.4s ease-in-out);
  img{
    height: 80%;
    width: auto;
    margin: auto;
    position: relative;
    top: 10%;
    z-index: 120;
    display: block;
    text-align: center;
  }
}
.modal-img-wrapper.big-img{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  @include transition(all 0.4s ease-in-out);
  z-index: 100;
  background: rgba(0, 0, 0,0.3);
  .modal-btn{
    width: 100%;
    z-index: 300;
    position: absolute;
  }
}
img.left-img {
    // float: left;
    margin: 1rem auto;
    width: 100%;
    height: auto;

    @media screen and (max-width: $break-tablet) {
      width: 100%;
      margin: auto;
      height: auto;
    }
}
img.right-img {
    // float: right;
    margin: 1rem auto;
    width: 100%;
    height: auto;
    @media screen and (max-width: $break-tablet) {
      width: 100%;
      margin: auto;
      height: auto;
    }
}
.form-group{
  margin:30px auto !important;
}
.md-input{
  @media screen and (max-width: $break-mobile) {
    width: 80%;
    margin: auto;
    margin: 30px 10%;
  }
}
