@font-face{
  font-family:Trump Gothic East;
  font-weight:700;font-style:normal;
  src:url(../fonts/TrumpGothicEast_bold.ttf) format("truetype"),url(../fonts/TrumpGothicEast_bold.woff2) format("woff2"),url(../fonts/TrumpGothicEast_bold.woff) format("woff")
}
@font-face{
  font-family:Maison Neue;
  font-style:normal;
  font-weight:200;
  src:url(../fonts/MaisonNeue_Light.otf) format("opentype")
}
@font-face{
  font-family:Maison Neue;
  font-style:normal;
  font-weight:300;
  src:url(../fonts/MaisonNeue_Book.otf) format("opentype"),url(../fonts/MaisonNeue_Book.woff2) format("woff2"),url(../fonts/MaisonNeue_Book.woff) format("woff2")}
@font-face{
  font-family:Maison Neue;
  font-style:normal;
  font-weight:500;
  src:url(../fonts/MaisonNeue_Demi.otf) format("opentype")}


.form-group{
  margin:30px;
}
.form-group p{
  color: #ee5c75;
}
.md-input {
    margin: 0 auto;
    width: 350px;
    display: block;
    border: none;
    padding: 16px;
    /*border: solid 1px #dadada;*/
    background-color: #f5f4f4 !important;
    -webkit-transition: all .3s cubic-bezier(.64,.09,.08,1);
    transition: all .3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 100%,#7e5dfb 0%);
    background-position: -350px 0;
    background-size: 350px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
}
.md-input:focus::-webkit-input-placeholder, .md-input:valid::-webkit-input-placeholder{
   color:#ef0d33;
 }

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
