/* line 45, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/partials/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/partials/_normalize.scss */
html {
  background: white;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/partials/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../sass/partials/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Trump Gothic East";
  src: url('/fonts/fonts/TrumpGothicEast_bold.ttf') format('truetype');
}
/* line 5, ../sass/style.scss */
body {
  background-color: #ffffff;
}

/* line 8, ../sass/style.scss */
.loader-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  z-index: 11;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {
    background: #ffffff;
  }
}
/* line 34, ../sass/style.scss */
.loading {
  margin-top: calc( 50vh - 25px);
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0.25rem solid rgba(0, 0, 0, 0.4);
  border-top-color: #ffffff;
  animation: spin 800ms infinite linear;
}
/* line 43, ../sass/style.scss */
.loading--double {
  border-style: double;
  border-width: .5rem;
}

/* line 49, ../sass/style.scss */
.button-container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
@media screen and (max-width: 600px) {
  /* line 49, ../sass/style.scss */
  .button-container {
    top: 25px;
    right: 15px;
  }
}
/* line 62, ../sass/style.scss */
.button-container:hover {
  opacity: .7;
}
/* line 67, ../sass/style.scss */
.button-container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
/* line 71, ../sass/style.scss */
.button-container.active .middle {
  opacity: 0;
  background: #FFF;
}
/* line 76, ../sass/style.scss */
.button-container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
/* line 82, ../sass/style.scss */
.button-container span {
  background: #ef0d33;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
/* line 93, ../sass/style.scss */
.button-container span:nth-of-type(2) {
  top: 11px;
}
/* line 97, ../sass/style.scss */
.button-container span:nth-of-type(3) {
  top: 22px;
}

/* line 103, ../sass/style.scss */
.overlay {
  position: fixed;
  background: #111517;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  z-index: 5;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
/* line 115, ../sass/style.scss */
.overlay.open {
  right: 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 600px) {
  /* line 115, ../sass/style.scss */
  .overlay.open {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 100%;
    right: 0;
  }
}
/* line 125, ../sass/style.scss */
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
/* line 129, ../sass/style.scss */
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
/* line 132, ../sass/style.scss */
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
/* line 135, ../sass/style.scss */
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
/* line 140, ../sass/style.scss */
.overlay .nav-main {
  position: relative;
  height: 70%;
  margin: auto 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 140, ../sass/style.scss */
  .overlay .nav-main {
    position: relative;
    height: 100vh;
    float: none;
    margin: auto 25px;
  }
}
/* line 156, ../sass/style.scss */
.overlay .nav-main .nav-menu ul li {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
/* line 160, ../sass/style.scss */
.overlay .nav-main .nav-menu ul li a {
  color: #EEE;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  padding: 2px 0;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1400px) {
  /* line 160, ../sass/style.scss */
  .overlay .nav-main .nav-menu ul li a {
    font-size: 32px;
  }
}
/* line 176, ../sass/style.scss */
.overlay .nav-main .nav-menu ul li a span {
  padding: 0 5px;
  position: relative;
  z-index: 100;
}
/* line 181, ../sass/style.scss */
.overlay .nav-main .nav-menu ul li a:after {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ef0d33;
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
/* line 192, ../sass/style.scss */
.overlay .nav-main .nav-menu ul li a:hover {
  color: #ffffff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 195, ../sass/style.scss */
.overlay .nav-main .nav-menu ul li a:hover::after {
  width: 100%;
}
/* line 204, ../sass/style.scss */
.overlay .nav-main .nav-footer .newsletter p {
  color: #6e6e6e;
  font-size: 14px;
  text-transform: none;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 17px;
  font-family: "Titillium Web", sans-serif;
}
/* line 215, ../sass/style.scss */
.overlay .nav-main .nav-footer .link ul li {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
/* line 219, ../sass/style.scss */
.overlay .nav-main .nav-footer .link ul li a {
  color: #EEE;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 0;
  position: relative;
}
/* line 228, ../sass/style.scss */
.overlay .nav-main .nav-footer .link ul li a span {
  padding: 0 5px;
  position: relative;
  z-index: 100;
}
/* line 233, ../sass/style.scss */
.overlay .nav-main .nav-footer .link ul li a:after {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ef0d33;
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
/* line 244, ../sass/style.scss */
.overlay .nav-main .nav-footer .link ul li a:hover {
  color: #ffffff;
}
/* line 246, ../sass/style.scss */
.overlay .nav-main .nav-footer .link ul li a:hover::after {
  width: 100%;
}
/* line 253, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav {
  margin-bottom: 28px;
  font-size: 0;
}
/* line 256, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div {
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -1px;
}
/* line 260, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div a {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border: 1px solid #bfbfbf;
  color: #bfbfbf;
  z-index: 1;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 272, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div a:hover {
  z-index: 999;
}
/* line 275, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div a i {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 278, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div a .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 286, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div a .fa-fw {
  width: 1.28571429em;
  text-align: center;
  top: 10px;
  position: relative;
}
/* line 294, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .twitter:hover {
  border: 1px solid #55acee;
}
/* line 296, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .twitter:hover i {
  color: #55acee !important;
}
/* line 300, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .facebook:hover {
  border: 1px solid #3b5998;
}
/* line 302, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .facebook:hover i {
  color: #3b5998 !important;
}
/* line 306, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .behance:hover {
  border: 1px solid #1769ff;
}
/* line 308, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .behance:hover i {
  color: #1769ff !important;
}
/* line 312, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .dribble:hover {
  border: 1px solid #ea4c89;
}
/* line 314, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .dribble:hover i {
  color: #ea4c89 !important;
}
/* line 317, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .instagram:hover {
  border: 1px solid #405de6;
}
/* line 319, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .instagram:hover i {
  color: #405de6 !important;
}
/* line 322, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .linkedin:hover {
  border: 1px solid #0077b5;
}
/* line 324, ../sass/style.scss */
.overlay .nav-main .nav-footer .social-nav div .linkedin:hover i {
  color: #0077b5 !important;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/* line 342, ../sass/style.scss */
.right-view {
  min-height: 100vh;
  width: 100%;
  color: #eee;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 347, ../sass/style.scss */
.right-view.true {
  width: calc( 100% - 350px);
}
@media screen and (max-width: 960px) {
  /* line 347, ../sass/style.scss */
  .right-view.true {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 100%;
  }
}

/* line 357, ../sass/style.scss */
.footer {
  width: 100%;
  background-color: #445372;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 361, ../sass/style.scss */
.footer.open {
  width: calc( 100% - 350px);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
}
/* line 366, ../sass/style.scss */
.footer .row {
  margin: 50px;
}
@media screen and (max-width: 600px) {
  /* line 366, ../sass/style.scss */
  .footer .row {
    margin: 100px auto;
  }
}
/* line 371, ../sass/style.scss */
.footer .row p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 400;
}
/* line 378, ../sass/style.scss */
.footer .row p small {
  font-weight: 100;
  margin-top: 16px;
  font-size: 90%;
  color: #ffffff;
}
/* line 384, ../sass/style.scss */
.footer .row p a {
  color: #d50000;
  transition: color .3s ease;
  text-decoration: none;
}
/* line 388, ../sass/style.scss */
.footer .row p a:hover {
  color: black;
  transition: color .3s ease;
}
/* line 395, ../sass/style.scss */
.footer .footer-social-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
/* line 400, ../sass/style.scss */
.footer .footer-social-nav li {
  display: inline-block;
}
/* line 402, ../sass/style.scss */
.footer .footer-social-nav li a {
  color: #ffffff;
  text-decoration: none;
  transition: color .3s ease;
  display: block;
  font-size: 36px;
  cursor: pointer;
}
/* line 410, ../sass/style.scss */
.footer .footer-social-nav li a .fa-twitter:hover {
  color: #55acee;
  transition: color .3s ease;
}
/* line 417, ../sass/style.scss */
.footer .footer-social-nav li a .fa-facebook:hover {
  color: #3b5999;
  transition: color .3s ease;
}
/* line 424, ../sass/style.scss */
.footer .footer-social-nav li a .fa-instagram:hover {
  color: #e4405f;
  transition: color .3s ease;
}

/* line 437, ../sass/style.scss */
#home {
  background-color: #111517;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(0, 0, 0, 0.5) url("../images/b2.jpg") no-repeat center;
  min-height: 100vh;
  position: relative;
  background-size: cover;
}
/* line 447, ../sass/style.scss */
#home .container .row {
  font-family: "Trump Gothic East", sans-serif;
  color: #ffffff;
  height: 100vh;
}
/* line 451, ../sass/style.scss */
#home .container .row .valign {
  margin: auto;
}
/* line 454, ../sass/style.scss */
#home .container .row h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1;
}
/* line 459, ../sass/style.scss */
#home .container .row h3 span {
  color: #ef0d33;
}
/* line 464, ../sass/style.scss */
#home .container .row h1 {
  font-weight: 700;
  font-size: 128px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 1400px) {
  /* line 464, ../sass/style.scss */
  #home .container .row h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 600px) {
  /* line 464, ../sass/style.scss */
  #home .container .row h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 400px) {
  /* line 464, ../sass/style.scss */
  #home .container .row h1 {
    font-size: 60px;
  }
}
/* line 480, ../sass/style.scss */
#home .container .row p {
  font-family: Maison Neue,sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 400px) {
  /* line 480, ../sass/style.scss */
  #home .container .row p {
    font-size: 14px;
  }
}
/* line 491, ../sass/style.scss */
#home .container .row .red-line {
  height: 4px;
  background-color: #ef0d33;
  width: 50px;
  margin: auto;
}
/* line 498, ../sass/style.scss */
#home .container .btn-wrapper {
  margin: 100px auto;
}

/* line 504, ../sass/style.scss */
.section-wrap {
  background-color: #fff;
  color: #212121;
  padding: 3.125rem 0 5.625rem 0;
  position: relative;
}
.sub-sections{
  padding-bottom: 0;
}
/* line 511, ../sass/style.scss */
.section-wrap header h1 {
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
  opacity: 1;
  transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.9s ease 0s, opacity 0.9s ease 0s;
  transition: transform 0.9s ease 0s, opacity 0.9s ease 0s;
  font-size: 188px;
  font-family: "Trump Gothic East", sans-serif;
  font-size: 11.75rem;
  margin: 0;
  text-align: center;
  opacity: 0.1;
}
/* line 520, ../sass/style.scss */
.section-wrap header span {
  color: #111517;
  position: relative;
}
/* line 525, ../sass/style.scss */
.section-wrap h3 {
  font-weight: 700;
  font-size: 42px;
  font-family: "Trump Gothic East", sans-serif;
  text-transform: uppercase;
  left: 0;
  top: 70px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}
/* line 538, ../sass/style.scss */
.section-wrap .head-text {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #3c3f44;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  /* line 538, ../sass/style.scss */
  .section-wrap .head-text {
    font-size: 16px;
    line-height: 2.3rem;
  }
}

/* line 550, ../sass/style.scss */
.btn-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  width: 240px;
}
/* line 556, ../sass/style.scss */
.btn-wrap .btn {
  margin-left: 0;
  font-family: Maison Neue,sans-serif;
  font-weight: 700;
  font-size: 13px;
  font-size: .8125rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  padding: 16px 0 15px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 2px;
  transition: background-color .3s,color .3s,border-color .3s;
  width: 100%;
  color: #fff;
  display: block;
}
/* line 574, ../sass/style.scss */
.btn-wrap .btn--primary {
  background-color: #ef0d33;
}

#poetry{
  background:#f6f6f6;
}
/* line 578, ../sass/style.scss */
#section3 {
  background-color: #f5f5f5;
  color: #212121;
  padding: 3.125rem 0 8.625rem 0;
  min-height: 100vh;
  position: relative;
}
/* line 584, ../sass/style.scss */
#section3 .badge {
  margin-left: 0px !important;
  background-repeat: no-repeat;
  background-image: url("../images/download.svg");
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 1;
  font-family: "Playfair Display", serif;
  margin: 50px auto 34px;
  font-size: 16px;
  font-size: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 604, ../sass/style.scss */
#section3 .poetry-wrapper p {
  text-align: left;
  color: #888;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Maison Neue", sans-serif;
}
@media screen and (max-width: 600px) {
  /* line 604, ../sass/style.scss */
  #section3 .poetry-wrapper p {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
  }
}

/* line 620, ../sass/style.scss */
#section4 {
  color: #fff;
  min-height: 0 !important;
  width: 100%;
  padding: 3.125rem 0 4rem 0;
  top: 0;
  overflow: hidden;
}
/* line 627, ../sass/style.scss */
#section4 h4 {
  margin: 30px;
  color: black;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
/* line 633, ../sass/style.scss */
#section4 h4 a {
  color: #ef0d33;
}

/* line 640, ../sass/style.scss */
.book-sec .section__header h3 {
  width: 100%;
  top: 0;
  color: black;
  text-transform: uppercase;
  position: relative !important;
}

/* line 649, ../sass/style.scss */
.sub-sections {
  margin-top: 0;
  padding-top: 0;
}
/* line 652, ../sass/style.scss */
.sub-sections .top-header {
  background-color: #00ce97;
  width: 100%;
}
/* line 655, ../sass/style.scss */
.sub-sections .top-header h1 {
  text-align: center;
  font-family: "Trump Gothic East", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 88px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  /* line 538, ../sass/style.scss */
  .sub-sections .top-header h1 {
    text-align: center;
    font-family: "Trump Gothic East", sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
/* line 665, ../sass/style.scss */
.sub-sections .poem {
  background-color: #f87041;
}
/* line 668, ../sass/style.scss */
.sub-sections .booking {
  background: #7e5dfb;
}
/* line 672, ../sass/style.scss */
.sub-sections .container .head-text {
  text-align: justify;
}
/* line 675, ../sass/style.scss */
.sub-sections .container .badge {
  margin-left: 0px !important;
  background-repeat: no-repeat;
  background-image: url("../images/download.svg");
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 1;
  font-family: "Playfair Display", serif;
  margin: 50px auto 34px;
  font-size: 16px;
  font-size: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 695, ../sass/style.scss */
.sub-sections .container .poetry-wrapper p {
  text-align: left;
  color: #888;
  font-size: 20px;
  font-weight: 300;
  margin: 8px;
  font-family: "Maison Neue", sans-serif;
}

/* line 709, ../sass/style.scss */
.content-wrapper .card {
  margin: 20px;
  box-shadow: 10px 11px 20px 6px rgba(208, 208, 208, 0.3);
  display: inline-block;
  padding: 20px;
}

.content-wrapper .card1 {
  margin: 20px;
  display: inline-block;
  padding: 20px;
}

/* line 718, ../sass/style.scss */
.modal-img-wrapper {
  height: 0;
  width: 0;
  left: 0;
  top: 50vh;
  left: 50%;
  position: fixed;
  background: white;
  z-index: -100;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 729, ../sass/style.scss */
.modal-img-wrapper img {
  height: 80%;
  width: auto;
  margin: auto;
  position: relative;
  top: 10%;
  z-index: 120;
  display: block;
  text-align: center;
}

/* line 740, ../sass/style.scss */
.modal-img-wrapper.big-img {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
}
/* line 748, ../sass/style.scss */
.modal-img-wrapper.big-img .modal-btn {
  width: 100%;
  z-index: 300;
  position: absolute;
}

/* line 754, ../sass/style.scss */
img.left-img {
  margin: 1rem auto;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 960px) {
  /* line 754, ../sass/style.scss */
  img.left-img {
    width: 100%;
    margin: auto;
    height: auto;
  }
}

/* line 766, ../sass/style.scss */
img.right-img {
  margin: 1rem auto;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 960px) {
  /* line 766, ../sass/style.scss */
  img.right-img {
    width: 100%;
    margin: auto;
    height: auto;
  }
}

/* line 777, ../sass/style.scss */
.form-group {
  margin: 30px auto !important;
}

@media screen and (max-width: 600px) {
  /* line 780, ../sass/style.scss */
  .md-input {
    width: 80%;
    margin: auto;
    margin: 30px 10%;
  }
}

.custom-card {
  background: #ffffff;
  z-index: 10;
  width: 95%;
  margin: 2rem auto;
  font-size: 16px;
  line-height: 20px;
  color: #6f7480;
  font-family: 'Montserrat', sans-serif;
  padding: 16px;
  font-weight: 300;
  border-radius: 2px;
  box-shadow:0 38px 43px rgba(0,0,0,.09);
}

.service-card-left {
  position: relative;
}

.service-card {
  width: 60%;
  margin: 50px 0px 50px 0px;
  min-height: 25vh;
  font-family: "Varela Round", sans-serif;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .service-card {
    width: 90% !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .service-card {
    width: 80% !important;
  }
}
.service-card-right {
  line-height: 200%;
}
.service-card-right h1 {
  margin: 0 0 10px 0;
  color: #373c46;
}
.service-card-right p {
  line-height: 18px;
  color: #3c4448 !important;
  font-family: 'Montserrat', sans-serif;
}

.service-image {
  position: absolute;
  left: -70%;
}
.service-image img {
  height: 25vh;
  border-radius: 2px;
}

.service-image1 {
  position: absolute;
  left: -70%;
}
.service-image1 img {
  height: 30vh;
  border-radius: 2px;
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
#map{
  height: 100%;
}
.book-sec{
  background-color: #fff;
}
#booknow .section__header h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: inherit;
  color: #373c46;
  line-height: initial;
  font-size: 24px;
}
.section__header h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: inherit;
  color: #373c46;
  line-height: initial;
  font-size: 36px;
}
.book-sec h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: inherit;
  color: #373c46;
  line-height: initial;
  font-size: 16px;
}
.custom-btn{
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s;
  border: none;
  width: 180px;
  height: 48px;
  color: #fff;
  border-radius: 50px;
  background-color: #ef0d33;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
  margin: 14px 0;
}
.footer{
  background: #403e42;
}
