
$twitter:#55acee;
$white:#ffffff;
// loader
$base-line-height: 50px;
$white: rgb(0,0,0);
$off-white: rgba($white, 0.4);
$spin-duration: 800ms;

// color
$behance:#1769ff;
$background:#1a1a1a;
$codgray:#171717;
$dribble:#ea4c89;
$facebook:#3b5998;
$instagram:#405de6;
$linkedin:#0077b5;
$tomato:#ef0d33;
$tundora:#EEE;
$twitter:#55acee;
$white:#ffffff;
// breaks
$break-laptop: 1400px;
$break-tablet: 960px;
$break-mobile: 600px;
$break-small: 400px;
// menu overlay
$color-background: #111517;
$color-main:#111517;;
$color-hamburger:#ef0d33;
$color-active: #FFF;
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;
$titanium:'Titillium Web', sans-serif;
$playfair:'Playfair Display', serif;
$fjalla: 'Fjalla One', sans-serif;
$mason:'Maison Neue',sans-serif;
$open-sans: 'Open Sans', sans-serif;
$gothic:'Trump Gothic East',sans-serif;
