body{
  background-color: white;
  font-family: 'Open Sans', sans-serif !important;
}
h2{
  font-size: 34px;
  text-transform: uppercase;
}
.nav-wrapper{
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
  z-index: 2;
}
.nav-wrapper .nav{
  float: right;
}
.nav-wrapper i {
  display: block;
}
@media (max-width: 960px) {
  .nav-wrapper div{
    display: -webkit-flex;
    display: -ms-flexbox;
     display: flex;
     -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-wrapper i {
    font-size: 36px;
    display: inherit;
  }
  .nav-wrapper img{
    max-width: 100%;
    margin: auto;
    position: relative;
    left: -18px;
  }
}
.nav{
   margin: auto 0;
   height: 70px;
}
.nav .nav-list{
  margin-top: 8px;
}
.nav-francisco .nav-item-link {
  color: #656565;
  font-weight: 500;
}

.nav-francisco  .nav-item-link:hover{
  color: #ccc;
}

.nav-francisco .nav-item--current .nav-item-link {
  color: #795ef9;
}
/*side nav starts from here*/

.side-nav-wrapper{
  position: fixed;
  height: 100vh;
  top: 0;
  left: -300px;
  z-index: 5;
  background: #fff;
  width: 270px;
}
.side-nav-wrapper .header{
  height: 170px;
  border-bottom: 1px solid #d8d8d8;
}
.side-nav-wrapper .header img, .side-nav-wrapper .header i{
  max-width: 100%;
    margin: auto;
}
.side-nav-logo{
  height: 120px;
}
.side-nav-wrapper ul{
  display: block !important;
}
.side-nav-wrapper ul li{
  padding: 10px 16px;
}
.side-nav-wrapper ul li a{
  text-align: left !important;
}

#section1{
  /*height: calc( 100vh - 70px);*/
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/full-wall3.jpg');
  background-position: center;
  background-size: cover;
}
#section1 .container .text-wrapper{
  color:#ffffff;
}
#section1 .container .text-wrapper h1{
  font-size: 52px;
  text-transform: uppercase;
}
#section1 .container .text-wrapper p{
  font-size: 16px;
}
#section1 .container .text-wrapper .row{
  margin: 50px;
}
@media (max-width: 992px) {
  #section1 button{
    margin: 16px;
  }
}

.btn-secondary.btn-white {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 40px;
}
.btn-primary.btn-color{
  background-color: #795ef9;
  padding: 12px 40px;
}
/*section 2 starts from here*/
#section2{
  background-color: white;
  height: auto;
}
#section2 .container{
  padding: 150px 0;
}
.losange, .losange div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
@media (max-width: 992px) {
  .losange {
    margin-bottom: 100px;
  }
}
.losange {
  transform: rotate(45deg) translateY(10px);
}
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}
.losange .los1 img {
  width: 100%;
  height: auto;
}
#section2 .about-text{
  text-align: left;
}
.about-text{

}
#section2 .about-text h2{
  font-size: 34px;
}
#section2 .about-text p{
  line-height: 1.7;
}


#section3{
  height: auto;
  background: #f6f7fb;
}
#section3 .container{
  padding: 100px 0;
}
.recent-work {
  margin-top: 50px;
}
.img-wrapper{
  margin: 30px;
}
#section3 .container button{
  margin-top: 50px;
}


#section4{
  height:80vh;
  background-image: url('../img/full-wall.jpg');
  background-position: center;
  background-size: cover;
}
#section4 h2{
  color: #fff;
}
#section5{
  min-height: 300px;
  background: #fff;
}
#section5 .container .row{
  width: 100%;
  margin: 50px 0;
}
#section5 .container .row span{
  font-size: 48px;
  font-weight: 600;
  color: #795ef9;
}
#section5 .container .row h3{
  font-size: 20px;
  font-weight:500;
  text-transform: uppercase;
}
#section6{
  height: auto;
  background: #f6f7fb;
}
#section6 .container{
  padding: 100px 0;
}
#section6 .photo-text {
  text-align: left;
}
#section6 .photo-text p {
  line-height: 1.7;
}

#section7 .row{
  width: 100%;
  margin: 50px auto;
}
.btn-secondary.btn-voilet{
  color: #795ef9;
  border: 2px solid #795ef9;
}
footer .row{
  margin: 50px auto;
}
footer div span{
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  footer div span{
    font-size: 14px;
    text-transform: uppercase;
  }
}
